{% extends 'Template/index.html' %}
{% load static %}

{% block name-page %}bitrix24-page{% endblock %}
{% block content %}
    <section class="animate-block-first main-banner header-color-js hc_js_2">
        <div class="widewrap">
            <ul class="breadcrumbs" itemprop="https://schema.org/breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:index' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Интеграция с Bitrix24</span>
                    <meta itemprop="position" content="2" />
                </li></ul>        <div class="row">
            <div class="col-12">
                <h1 class="heading-1 tn_dl_02">Битрикс24                </h1>
                <p class="text text-fs-18 tn_dl_06">Занимаемся сложными интеграциями с Битрикс24</p>
                <ul class="list-dotted tn_dl_06">
                    <li>Внедрение, настройка, обучение</li>
                    <li>Корпоративные порталы</li>
                    <li>Разработка модулей</li>
                    <li>Администрирование и консультации</li>
                </ul>
                <div class="banner-float-support">
                    <span class="banner-image"></span>
                </div>
                <div class="button-case tn_dl_08 tn_dr_05"><a href="#" class="button-blue">Рассчитать стоимость
                    проекта</a></div>            </div>

        </div>
        </div>
    </section>
    <section class="animate-block bitrix24-block bitrix24-block-intro header-color-js">
        <div class="widewrap">
            <div class="row">
                <div class="col-12 col-lg-10 col-xl-7">
                    <h2 class="heading-2 heading-underline section-title-js">Что мы умеем?</h2>
                    <p class="text text-lh-30 tn_dl_02">

                        Мы обладаем, подтвержденной в портфолио, технологической экспертизой в Битрикс и Битрикс24:</p>
                    <ul class="list-check">
                        <li>Настраиваем, внедряем, дорабатываем корпоративные порталы на коробочной и облачной версии Битрикс24 для автоматизации процессов компаний наших клиентов.</li>

                        <li>Программируем модули, бизнес-процессы, не стандартные отчеты.</li>

                        <li>Настраиваем документооборот, работу подразделений, интеграцию с 1С, обмен данными.</li>

                        <li>Программируем новые сущности в CRM и логику работы с ними, расчет зарплат, передача в 1С, сложная аналитика, автоматическая маршрутизация колл-центра.</li>

                        <li>Осуществляем переезд из облака в коробку и многое другое.</li>
                    </ul>
                    <p>&nbsp;</p>

                </div>
            </div>
        </div>

    </section>
    <section class="animate-block bitrix24-block bitrix24-block-stages">
    <div class="widewrap">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-7">
                <h2 class="heading-2 heading-underline section-title-js">Этапы внедрения Bitrix</h2>
                <p class="text text-lh-30 tn_dl_02">Настройка Bitrix24 начинается с&nbsp;аналитики и&nbsp;проектирования, итогом которых становятся отчет и&nbsp;презентация. На&nbsp;следующем этапе настраивается серверная архитектура, разрабатывается CRM, внедряются интеграции (1С, Active Directory, сайты, мессенджеры, телефония, почта, сквозная аналитика). По&nbsp;завершении работ проводится техническое тестирование. Отдельное внимание уделяется обучению модераторов и&nbsp;подготовке гайдов.</p>
            </div>
        </div>
        <div class="widewrap block-stages-grid-wrap">
            <div class="row block-stages-grid block-stages-grid-bitrix24 transform-y-55 tn_dr_05 tn_dl_06">
                <div class="stages-single-analytics">
                    <div><img alt="" width="" height="" src="/static/local/templates/inetsys/img/block-img/process-analyze.png">
                    </div>
                    <p>Анализ бизнес-процессов</p>
                </div>
                <div class="stages-single-setting">
                    <div><img alt="" width="" height="" src="/static/local/templates/inetsys/img/block-img/setting.png"></div>
                    <p>Базовая настройка</p>
                </div>
                <div class="stages-single-crm">
                    <div><img alt="" width="" height="" src="/static/local/templates/inetsys/img/block-img/crm.png"></div>
                    <p>Настройка CRM</p>
                </div>
                <div class="stages-single-chanels">
                    <div><img alt="" width="" height="" src="/static/local/templates/inetsys/img/block-img/connect.png"></div>
                    <p>Настройка каналов связи</p>
                </div>
                <div class="stages-single-study">
                    <div><img alt="" width="" height="" src="/static/local/templates/inetsys/img/block-img/desk-chart2.png">
                    </div>
                    <p>Обучение и поддержка</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block bitrix24-block bitrix24-block-price">
    <div class="widewrap">
        <div class="row">
            <div class="col-12 col-lg-10">
                <h2 class="heading-2 heading-underline section-title-js">Стоимость стандартных этапов внедрения
                    Битрикс24</h2>
                <p class="text text-lh-30 tn_dl_02">Основная задача внедрения Битрикс24&nbsp;&mdash; увеличение эффективности бизнеса и&nbsp;сокращение финансовых затрат. Стоимость зависит от&nbsp;выбранного типа настройки.</p>
            </div>
            <div class="row w-100 price-columns price-columns-slide transform-y-55 tn_dl_04 tn_dr_05">
                <div class="col-12 col-lg-6 price-columns-single">
                    <p class="heading-3">Базовая настройка</p>
                    <p class="text text-lh-30">Подходит для малого бизнеса или небольшого предприятия. Идеальный вариант для быстрого старта.</p>
                    <p class="heading-4">Плюсы подхода</p>
                    <ul class="list-check">
                        <li>Все коммуникации - email, телефон, whatsapp и другие мессенджеры, авито – будут собраны в CRM.</li>
                        <li>Обучение персонала с постепенной адаптацией и освоением потока информации.</li>
                        <li>Настройка воронок в направлениях сделок.</li>
                        <li>Написание базовых регламентов работы в CRM.</li>
                    </ul>
                    <p class="heading-number">от 50 000 ₽</p>
                    <div class="button-case button-small"><a href="#" class="button-blue js-form-have-project">Заказать</a></div>
                </div>
                <div class="col-12 col-lg-6 price-columns-single transform-y-55 tn_dl_06 tn_dr_05">
                    <p class="heading-3">Расширенная настройка</p>
                    <p class="text text-lh-30">Подходит крупным компаниям со сложными или нестандартными бизнес-процессами.</p>
                    <p class="heading-4">Плюсы подхода</p>
                    <ul class="list-check">
                        <li>Перенос всех коммуникаций в CRM: email, телефон, whatsup и другие мессенджеры, авито.</li>
                        <li>Дистанционное и очное обучение персонала с подготовкой гайдов, инструкций.</li>
                        <li>Автоматизация воронок продаж.</li>
                        <li>Помощь в составлении базовых регламентов работы в CRM.</li>
                        <li>Проектирование и автоматизация бизнес-процессов</li>
                    </ul>
                    <p class="heading-number">от 75 000 ₽</p>
                    <div class="button-case button-small"><a href="#" class="button-blue js-form-have-project">Заказать</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block bitrix24-block bitrix24-block-result">
    <div class="widewrap">
        <div class="row block-image-right">
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Результат внедрения «Битрикс24»</h2>
                <p class="text text-lh-30 tn_dl_02">Ключевыми эффектами внедрения &laquo;Битрикс24&raquo; станут автоматизация и&nbsp;увеличение объемов продаж, рост производительности персонала, объединение в&nbsp;CRM каналы коммуникаций с&nbsp;клиентами и&nbsp;налаживание долгосрочных отношений с&nbsp;ними.</p>
            </div>
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/target.png">
                <div class="float-circles"></div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_04">
                <div class="icoblock-single-ico">
                    <span class="ico-bell"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Увеличение продаж</p>
                    <p class="text">Внедрение Bitrix24 позволяет контролировать все каналы коммуникаций с&nbsp;клиентом. Единая база сделок, лидов и&nbsp;контактов облегчает работу менеджера. Определение лучших каналов продаж с&nbsp;возможностью их&nbsp;отслеживания онлайн. Форма быстрого заказа для заявок или записи на&nbsp;услуги с&nbsp;бронированием и&nbsp;продажами через <nobr>онлайн-чат</nobr>.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_04">
                <div class="icoblock-single-ico">
                    <span class="ico-image"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Единство внутренних коммуникаций</p>
                    <p class="text">Все каналы коммуникаций с&nbsp;клиентами объединены в&nbsp;CRM: чат, видеоконференции, письма на&nbsp;электронную почту, сообщения, заказы и&nbsp;вопросы в&nbsp;социальных сетях (Facebook, Instagram, ВКонтакте). Клиенту легко использовать как один, так и&nbsp;несколько каналов, перемещаясь между ними.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_06">
                <div class="icoblock-single-ico">
                    <span class="ico-idea"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Автоматизация бизнес-процессов</p>
                    <p class="text">Все типовые задачи бизнеса&nbsp;&mdash; от&nbsp;согласования отпусков до&nbsp;информирования о&nbsp;нововведениях&nbsp;&mdash; автоматизированы. Стандартные <nobr>бизнес-процессы</nobr> могут быть кастомизированы с&nbsp;созданием новых алгоритмов с&nbsp;нуля.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_06">
                <div class="icoblock-single-ico">
                    <span class="ico-graph-smoth"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Контроль над проектами и&nbsp;сотрудниками</p>
                    <p class="text">Все показатели можно контролировать прямо в&nbsp;Битрикс. CRM, ставя, планируя и&nbsp;реализуя конкретные задачи. Построение новой схемы ведения бизнеса с&nbsp;оперативным и&nbsp;своевременным реагированием на&nbsp;важные события и&nbsp;рациональным распределением объема работ для сотрудников.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block bitrix24-block bitrix24-block-integration">
    <div class="widewrap">
        <div class="row block-image-right">
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Задачи, которые решает интеграция Битрикс&nbsp;24
                </h2>
                <p class="text text-lh-30 tn_dl_02">Внедрение <nobr>CRM-системы</nobr> Битрикс24 направлено на&nbsp;упрощение работы компании, увеличение ее&nbsp;конкурентоспособности на&nbsp;рынке, совершенствование <nobr>бизнес-процессов</nobr> и&nbsp;регламентацию действий подразделений и&nbsp;сотрудников. Омниканальность компании позволит выстроить непрерывную коммуникацию с&nbsp;клиентом в&nbsp;любых каналах с&nbsp;хранением всей истории взаимодействия.</p>
            </div>
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/robot2.png">
                <div class="float-circles"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 icoblock-single tn_dl_04">
                <div class="icoblock-single-ico">
                    <span class="number_ico_1"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Автоматизированный документооборот </p>
                    <p class="text">Автоматизация двустороннего обмена данными по&nbsp;расписанию облегчает работу с&nbsp;документами. Все операции будут выполняться системой в&nbsp;указанные временные интервалы, а&nbsp;сотрудники будут избавлены от&nbsp;необходимости выполнять рутинные операции.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_04">
                <div class="icoblock-single-ico">
                    <span class="number_ico_2"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Безопасность</p>
                    <p class="text">За&nbsp;счет работы сайта на&nbsp;удаленном хостинге обеспечивается высокая степень защиты данных в&nbsp;&laquo;1С&raquo;, к&nbsp;базе данных которой нет доступа. У&nbsp;пользователя 1С ограниченные права, он&nbsp;работает только с&nbsp;товарами и&nbsp;заказами, поэтому никакого вреда ресурсу наноситься не&nbsp;будет.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_06">
                <div class="icoblock-single-ico">
                    <span class="number_ico_3"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Интегарция с&nbsp;1С</p>
                    <p class="text">Интеграция с&nbsp;&laquo;1С&raquo; обеспечивает непрерывную связь между &laquo;<nobr>1С-Битрикс</nobr>: Управление сайтом&raquo; и&nbsp;&laquo;1С&raquo;. Двусторонний обмен данными между этими продуктами происходит в&nbsp;режиме реального времени через <acronym title="Extensible Markup Language" lang="en">XML</acronym>, CSV и&nbsp;другие форматы. Установка отдельного сервера или специальные настройки не&nbsp;нужны, поэтому <nobr>интернет-магазин</nobr> и&nbsp;&laquo;1С&raquo; не&nbsp;будут перегружены.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 icoblock-single tn_dl_06">
                <div class="icoblock-single-ico">
                    <span class="number_ico_4"></span>
                </div>
                <div class="icoblock-single-text">
                    <p class="heading-3">Производительность</p>
                    <p class="text">На&nbsp;модуль &laquo;1С&raquo; влияют объем каталога товаров, изображений, а&nbsp;также частота обмена данными, производительность &laquo;1С&raquo; не&nbsp;зависит от&nbsp;нагрузки на&nbsp;сайт. Администратор будет контролировать позиции при каждом обмене, выгружая только измененные товары.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block bitrix24-block bitrix24-block-analytics">
    <div class="widewrap">
        <div class="row block-image-right align-items-center">
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Сквозная аналитика</h2>
                <p class="text text-lh-30 tn_dl_02">Внедрение сквозной аналитики от&nbsp;Roistat и&nbsp;Bitrix24 позволит собирать данные из&nbsp;всех коммуникативных каналов для оценки рекламных действий и&nbsp;их&nbsp;эффективности, отслеживания затрат на&nbsp;рекламу и&nbsp;обеспечения прозрачности маркетинга.</p>
            </div>
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/realization.png">
                <div class="float-circles"></div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block bitrix24-block bitrix24-block-solutions">
    <div class="widewrap">
        <div class="row align-items-center section-title-js">
            <div class="col-12 col-lg-5 image-block-before"> <img alt="" width="" height="" src="/static/local/templates/inetsys/img/CRM.png">
                <div class="float-circles"></div>
            </div>
            <div class="col-12 col-lg-7">
                <h2 class="heading-2 heading-underline">Отраслевое внедрение</h2>
                <p class="text text-lh-30 tn_dl_02">CRM в&nbsp;Битрикс 24 имеет готовые отраслевые решения, поэтому для конкретного бизнеса предлагаются свои настройки с&nbsp;учетом его специфики, или разрабатываются специальные решения.</p>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block footer-form">
        <div class="wrap">
            <div class="row align-items-start">
                <div class="col-12 col-md-5 col-lg-4 col-xl-5 image-block-before footer-form-block-img"><img alt="" width="" height=""
                                                                                                             src="/static/local/templates/inetsys/img/footer-form-mail.png">
                </div>
                <div class="col-12 col-md-12 col-xl-7 footer-form-block-text">
                    <h3 class="w-100 heading-2 heading-underline text-white section-title-js">Есть проект?<br>Напишите нам</h3>



                    <form id="bottom-form" class="footer-have-project transform-y-55 tn_dr_05 tn_dl_04 base-form" name="SIMPLE_FORM_3" action="/form-get/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="form_hidden_16" id="form_hidden_16" value="https://www.inetsys.ru/bitrix24/">
                        <input type="hidden" name="g_recaptcha_response" value="">
                        <input type="hidden" name="WEB_FORM_ID" value="3">
                        <input type="hidden" name="sessid" id="sessid_1" value="07471865df1bca654cb950bbffa5caa7" />
                        <div class="input-wrap">
                            <input name="form_text_5" id="form_text_5" type="text" class="input-text required" placeholder="Ваше имя">
                            <label for="form_text_5">Ваше имя <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите ваше имя</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_6" id="form_text_6" type="text" class="input-text phone-validate required" placeholder="Телефон">
                            <label for="form_text_6">Телефон <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите телефон</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_18" id="form_text_18" type="text" class="input-text" placeholder="Email">
                            <label for="form_text_18">Email</label>
                            <span class="input-alert">Укажите Email</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_7" id="form_text_7" type="text" class="input-text required" placeholder="Сообщение">
                            <label for="form_text_7">Сообщение <span class="red-star">*</span></label>
                            <span class="input-alert">Напишите сообщение</span>
                        </div>
                        <p class="text-consent text-consent-checkbox"><input class="styled-checkbox required" type="checkbox" value="1" name="ch1" id="ch1">
                            <label for="ch1"></label> <span> Я согласен с условиями обработки <a href="/privacy/"> персональных данных</a>
              </span>
                            <span class="input-alert input-alert-checkbox">Согласитесь с условиями</span>
                        </p>
                        <button type="submit" name="web_form_submit" class="simple-btn" value="Отправить">Отправить</button>
                    </form>            </div>
            </div>
        </div>
    </section>
{% endblock %}