{% extends 'Template/index.html' %}
{% load static %}

{% block name-page %}branding-page{% endblock %}
{% block content %}
    <section class="animate-block-first main-banner header-color-js hc_js_2">
        <div class="widewrap">
            <ul class="breadcrumbs" itemprop="https://schema.org/breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:index' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Брендинг и айдентика</span>
                    <meta itemprop="position" content="2" />
                </li></ul>        <div class="row">
            <div class="col-12">
                <h1 class="heading-1 tn_dl_02">Брендинг и айдентика                </h1>
                <p class="text text-fs-18 tn_dl_06">Создаем и сопровождаем бренд-платформу вашего бизнеса или продукта</p>
                <ul class="list-dotted tn_dl_06">
                    <li>Разработка логотипа</li>
                    <li>Разработка фирменного стиля</li>
                    <li>Дизайн упаковки</li>
                    <li>Руководство по использованию айдентики</li>
                </ul>
                <div class="banner-float-support">
                    <span class="banner-image"></span>
                </div>
                <div class="button-case tn_dl_08 tn_dr_05"><a href="#" class="button-blue">Заказать</a></div>            </div>

        </div>
        </div>
    </section>
    <section class="animate-block branding-block branding-block-analytics header-color-js">
        <div class="widewrap">
            <div class="row block-image-left align-items-center">
                <div class="col-12 col-lg-6 image-block-before">
                    <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/section_2.png">
                    <div class="float-circles"></div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="heading-2 heading-underline section-title-js">Разработка логотипа</h2>
                    <p class="text text-lh-30 tn_dl_02">Задача логотипа – отразить характер и ценности бренда, а для этого нужны простые и понятные для восприятия визуальные данные. Именно они будут в дальнейшем использоваться при создании рекламной продукции на различных носителях.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block branding-block branding-block-solutions">
    <div class="widewrap">
        <div class="row block-image-right align-items-center section-title-js">
            <div class="col-12 col-lg-7">
                <h2 class="heading-2 heading-underline">Создание фирменного стиля</h2>
                <p class="text text-lh-30 tn_dl_02">Фирменный стиль представляет собой сочетание смысловых и графических элементов, которые формируют имидж компании, идентифицируют и дифференцируют ее на фоне конкурентов, вызывая положительное восприятие аудитории.</p>
            </div>
            <div class="col-12 col-lg-5 image-block-before"> <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/section_3.png">
                <div class="float-circles"></div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block branding-block branding-block-analytics">
    <div class="widewrap">
        <div class="row block-image-left align-items-center">
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/section_4.png">
                <div class="float-circles"></div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Разработка руководства по&nbsp;фирменному стилю</h2>
                <p class="text text-lh-30 tn_dl_02">Платформа бренда – это маркетинговый документ, в котором указываются характеристики бренда, его отличительные особенности, фирменный стиль, уникальное торговое предложение. Бренд-платформа формирует отношение аудитории к бренду и формулирует его идею.</p>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block branding-block branding-block-analytics">
    <div class="widewrap">
        <div class="row block-image-right align-items-center">
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Какие задачи решает фирменный стиль</h2>
                <p class="text text-lh-30 tn_dl_02">Фирменный стиль создает положительный образ компании и закрепляет его в сознании потенциальной аудитории благодаря высокому качеству продукции или безупречному обслуживанию, что повышает престиж и репутацию бренда.</p>
            </div>
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/section_5.png">
                <div class="float-circles"></div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block mobile-block mobile-block-advantages">
    <div class="widewrap">
        <div class="row section-title-js">
            <div class="col-12 col-lg-6 col-xl-4 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/identity.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Идентификация</p>
                    <p class="text">Единый визуальный и смысловой образ выделит компанию, ее услугу или продукт, и потребитель легко узнает их просто по внешнему оформлению.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/trust.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Доверие</p>
                    <p class="text">Выбрав хотя бы один качественный продукт или услугу компании, потребитель будет с большей вероятностью доверять и всей остальной продукции фирмы.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/firmstyle.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Реклама</p>
                    <p class="text">Фирменный стиль повышает лояльность целевой аудитории и вызывает положительные эмоции о бренде, что делает использование рекламных каналов проще и эффективнее.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block branding-block branding-block-analytics">
    <div class="widewrap">
        <div class="row block-image-left align-items-center">
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/strategy.png">
                <div class="float-circles"></div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Стратегия</h2>
                <p class="text text-lh-30 tn_dl_02">При создании бренд-платформы углубляемся в специфику компании, составляем перечень основных критериев и качеств в соответствии с айдентикой бренда.</p>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block mobile-block mobile-block-advantages">
    <div class="widewrap">
        <div class="row section-title-js">
            <div class="col-12 col-lg-6 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/search.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Исследования и&nbsp;стратегия</p>
                    <p class="text">Подбор стратегии начинается с анализа исходных данных и исследования бренда, его конкурентов и целевой аудитории.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/system_identify.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Системы идентификации </p>
                    <p class="text">Каждая компания имеет свою корпоративную идентичность, которая подчеркивается выделяющими ее визуальными и смысловыми образами.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/paking.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Дизайн продукта и&nbsp;упаковка</p>
                    <p class="text">Дизайн упаковки выполняется в соответствии с общей стратегией бренда и помогает сделать продукт легко узнаваемым потребителями.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 image-header-text-block transform-y-55 tn_dl_04 tn_dr_05">
                <div class="image-header-text-block-img"><img alt="" width="" height=""  src="/static/local/templates/inetsys/img/branding/company.png"></div>
                <div class="image-header-text-block-text">
                    <p class="heading-4">Рекламные кампании</p>
                    <p class="text">Элементы фирменного стиля являются мощным маркетинговым инструментом, повышающим эффективность рекламы и коммуникаций и создающим сильную корпоративную культуру.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block branding-block branding-block-analytics">
    <div class="widewrap">
        <div class="row block-image-right align-items-center">
            <div class="col-12 col-lg-6">
                <h2 class="heading-2 heading-underline section-title-js">Этапы разработки</h2>
                <ol class="list-check tn_dl_02 transform-y-55">
                    <li>Стратегия и позиционирование бренда</li>
                    <li>Разработка названия (нейминг)</li>
                    <li>Визуализация бренда</li>
                    <li>Сопровождение</li>
                </ol>
            </div>
            <div class="col-12 col-lg-6 image-block-before">
                <img alt="" width="" height="" src="/static/local/templates/inetsys/img/branding/stages.png">
                <div class="float-circles"></div>
            </div>
        </div>
    </div>
</section>
    <section class="animate-block branding-block-projects">
    <div class="widewrap">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-2 section-title-js">Новые проекты</h2>
            </div>
        </div>
    </div>
    <div class="branding-projects-slider full-width-slider slider transform-y-55 tn_dl_04 tn_dr_05">
        <div class="full-width-slider-single slider-single-img-animated branding-slider-premier">
            <div class="widewrap">
                <p class="slider-up-header">Фирмненный стиль</p>
                <p class="heading-2">Премьер отель</p>
                <p class="slider-sub-header">Тверь</p>
                <div class="slider-complex-image">
                    <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-1.png" alt=""></div>
                    <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-3.png" alt=""></div>
                    <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-2.png" alt=""></div>
                    <div class="img-6"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-6.png" alt=""></div>
                    <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-4.png" alt=""></div>
                    <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-5.png" alt=""></div>
                    <div class="img-7"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/premier/premier-7.png" alt=""></div>
                </div>
                <ul class="list-dotted">
                    <li>Разработка логотипа</li>
                    <li>Разработка фирменного стиля</li>
                    <li>Система навигации</li>
                </ul>
                <div class="full-width-slider-more">
                    <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                    <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                    <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
                </div>
            </div>
        </div><div class="full-width-slider-single slider-single-img-animated branding-slider-skandi">
        <div class="widewrap">
            <p class="slider-up-header">Магазин мебели</p>
            <p class="heading-2">SKANDI</p>
            <p class="slider-sub-header">Москва</p>
            <div class="slider-complex-image">
                <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-1.png" alt=""></div>
                <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-2.png" alt=""></div>
                <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-3.png" alt=""></div>
                <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-4.png" alt=""></div>
                <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-5.png" alt=""></div>
                <div class="img-6"><img src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-6.png" alt=""></div>
                <div class="img-7"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/skandi/skandi-7.png" alt=""></div>
            </div>
            <ul class="list-dotted">
                <li>Разработка логотипа</li>
                <li>Разработка фирменного стиля</li>
                <li>Система навигации</li>
            </ul>
            <div class="full-width-slider-more">
                <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
            </div>
        </div>
    </div><div class="full-width-slider-single slider-single-img-animated branding-slider-raketa">
        <div class="widewrap">
            <p class="slider-up-header">Экстрим-парк</p>
            <p class="heading-2">Ракета</p>
            <p class="slider-sub-header">Тверь</p>
            <div class="slider-complex-image">
                <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-1.png" alt=""></div>
                <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-2.png" alt=""></div>
                <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-3.png" alt=""></div>
                <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-4.png" alt=""></div>
                <div class="img-6"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-6.png" alt=""></div>
                <div class="img-7"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-7.png" alt=""></div>
                <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/raketa/raketa-5.png" alt=""></div>
            </div>
            <ul class="list-dotted">
                <li>Разработка логотипа</li>
                <li>Разработка фирменного стиля</li>
                <li>Руководство по использованию</li>
            </ul>
            <div class="full-width-slider-more">
                <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
            </div>
        </div>
    </div><div class="full-width-slider-single slider-single-img-animated branding-slider-vasilisa">
        <div class="widewrap">
            <p class="slider-up-header">Банный комплекс</p>
            <p class="heading-2">Vasilisa</p>
            <p class="slider-sub-header">Тверь</p>
            <div class="slider-complex-image">
                <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-1.png" alt=""></div>
                <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-2.png" alt=""></div>
                <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-3.png" alt=""></div>
                <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-4.png" alt=""></div>
                <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-5.png" alt=""></div>
                <div class="img-6"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/vasilisa/vasilisa-6.png" alt=""></div>
            </div>
            <ul class="list-dotted">
                <li>Разработка логотипа</li>
                <li>Разработка фирменного стиля</li>
                <li>Руководство по использованию</li>
            </ul>
            <div class="full-width-slider-more">
                <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
            </div>
        </div>
    </div><div class="full-width-slider-single slider-single-img-animated branding-slider-travel">
        <div class="widewrap">
            <p class="slider-up-header">Туристическое агентство</p>
            <p class="heading-2">Tur Travel</p>
            <p class="slider-sub-header">Москва</p>
            <div class="slider-complex-image">
                <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-1.png" alt=""></div>
                <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-2.png" alt=""></div>
                <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-3.png" alt=""></div>
                <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-4.png" alt=""></div>
                <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-5.png" alt=""></div>
                <div class="img-6"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/travel/tour-6.png" alt=""></div>
            </div>
            <ul class="list-dotted">
                <li>Разработка логотипа</li>
                <li>Разработка фирменного стиля</li>
                <li>Руководство по использованию</li>
                <li>Разработка сайта</li>
            </ul>
            <div class="full-width-slider-more">
                <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
            </div>
        </div>
    </div><div class="full-width-slider-single slider-single-img-animated branding-slider-style">
        <div class="widewrap">
            <p class="slider-up-header">Маркетплейс</p>
            <p class="heading-2">Style For You</p>
            <p class="slider-sub-header">Москва</p>
            <div class="slider-complex-image">
                <div class="img-1"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-1.png" alt=""></div>
                <div class="img-2"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-2.png" alt=""></div>
                <div class="img-3"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-3.png" alt=""></div>
                <div class="img-4"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-4.png" alt=""></div>
                <div class="img-5"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-5.png" alt=""></div>
                <div class="img-6"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-6.png" alt=""></div>
                <div class="img-7"><img loading=lazy src="/static/local/templates/inetsys/img/branding/projects/style/style-7.png" alt=""></div>
            </div>
            <ul class="list-dotted">
                <li>Разработка логотипа</li>
                <li>Разработка фирменного стиля</li>
                <li>Руководство по использованию фирменного стиля</li>
            </ul>
            <div class="full-width-slider-more">
                <a target="_blank" href="/static/local/templates/inetsys/img/branding/primer-rabot.pdf" class="button-outline">Скачать PDF</a>
                <button class="full-width-slider-arrow ico-arrow-left" aria-label="Previous" type="button" tabindex="0"></button>
                <button class="full-width-slider-arrow ico-arrow-right" aria-label="Next" type="button" tabindex="0"></button>
            </div>
        </div>
    </div>    </div>
</section>
    <section class="animate-block our-projects-block">
        <div class="wrap">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-2 heading-underline section-title-js">Наши клиенты</h2>
                    <p class="w-100 text text-lh-30 tn_dl_02">Мы работаем с крупнейшими российскими и международными компаниями: страховыми компаниями, банками, ритейл, автомобильными брендами, государственными проектами, eСommerce, СМИ и другими.</p>
                </div>
                <div class="col-12 col-lg-7 row our-projects-slider transform-y-55 tn_dl_05 tn_dr_05">
                    <div class="col-12 col-lg-4">
                        <div class="row">
                            <div class="our-project-logo-vbrr"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/vbrr.svg"> </div>
                            <div class="our-project-logo-moskonditer"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/moskonditer.svg"> </div>
                            <div class="our-project-logo-gchpinfo"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/gchpinfo.svg"> </div>
                            <div class="our-project-logo-vseinstrumenti"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/vseinstrumenti.svg"> </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="row">
                            <div class="our-project-logo-ruspetrol"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/ruspetrol.svg"> </div>
                            <div class="our-project-logo-osram"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/osram.svg"> </div>
                            <div class="our-project-logo-kalibr"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/kalibr.svg"> </div>
                            <div class="our-project-logo-peresvet"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/peresvet.svg"> </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="row">
                            <div class="our-project-logo-clavel"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/clavel.svg"> </div>
                            <div class="our-project-logo-met"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/met.svg"> </div>
                            <div class="our-project-logo-mirdetstva"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/mirdetstva.svg"> </div>
                            <div class="our-project-logo-mirdereva"> <img loading="lazy" alt="" width="" height=""  src="/static/local/templates/inetsys/img/logos/mirdereva.svg"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 button-case tn_dl_04 tn_dr_05"> <a class="button-blue button-small js-form-have-project" href="">Стать
                    клиентом</a> </div>
            </div>
        </div>
    </section>
    <section class="animate-block footer-form">
    <div class="wrap">
        <div class="row align-items-start">
            <div class="col-12 col-md-5 col-lg-4 col-xl-5 image-block-before footer-form-block-img"><img alt="" width="" height=""
                                                                                                         src="/static/local/templates/inetsys/img/footer-form-mail.png">
            </div>
            <div class="col-12 col-md-12 col-xl-7 footer-form-block-text">
                <h3 class="w-100 heading-2 heading-underline text-white section-title-js">Есть проект?<br>Напишите нам</h3>



                <form id="bottom-form" class="footer-have-project transform-y-55 tn_dr_05 tn_dl_04 base-form" name="SIMPLE_FORM_3" action="/form-get/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_hidden_16" id="form_hidden_16" value="https://www.inetsys.ru/branding/">
                    <input type="hidden" name="g_recaptcha_response" value="">
                    <input type="hidden" name="WEB_FORM_ID" value="3">
                    <input type="hidden" name="sessid" id="sessid_1" value="07471865df1bca654cb950bbffa5caa7" />
                    <div class="input-wrap">
                        <input name="form_text_5" id="form_text_5" type="text" class="input-text required" placeholder="Ваше имя">
                        <label for="form_text_5">Ваше имя <span class="red-star">*</span></label>
                        <span class="input-alert">Укажите ваше имя</span>
                    </div>
                    <div class="input-wrap">
                        <input name="form_text_6" id="form_text_6" type="text" class="input-text phone-validate required" placeholder="Телефон">
                        <label for="form_text_6">Телефон <span class="red-star">*</span></label>
                        <span class="input-alert">Укажите телефон</span>
                    </div>
                    <div class="input-wrap">
                        <input name="form_text_18" id="form_text_18" type="text" class="input-text" placeholder="Email">
                        <label for="form_text_18">Email</label>
                        <span class="input-alert">Укажите Email</span>
                    </div>
                    <div class="input-wrap">
                        <input name="form_text_7" id="form_text_7" type="text" class="input-text required" placeholder="Сообщение">
                        <label for="form_text_7">Сообщение <span class="red-star">*</span></label>
                        <span class="input-alert">Напишите сообщение</span>
                    </div>
                    <p class="text-consent text-consent-checkbox"><input class="styled-checkbox required" type="checkbox" value="1" name="ch1" id="ch1">
                        <label for="ch1"></label> <span> Я согласен с условиями обработки <a href="/privacy/"> персональных данных</a>
              </span>
                        <span class="input-alert input-alert-checkbox">Согласитесь с условиями</span>
                    </p>
                    <button type="submit" name="web_form_submit" class="simple-btn" value="Отправить">Отправить</button>
                </form>            </div>
        </div>
    </div>
</section>
{% endblock %}