.review-block .row {
    margin: 0;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
}

.review-block .col-12 {
    padding-top: 23px;
    padding-bottom: 34px;
}

.review-block-logo {
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-block-logo img {
    height: 52px;
    margin-left: -15px;
}

.review-block-title-main {
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 3px;
}

.review-block-title-submain {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 20px;
}

.review-block-content .text + .text {
    margin-top: 30px;
}

.review-block-img .image-zoom-hover {
    display: none;
}

.review-block-img a.review-block-link {
    margin-top: 21px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Muller';
}

@media (min-width: 768px) {
    .review-block {
        padding-top: 55px !important;
    }

    .review-block .col-12 {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 42px;
    }

    .review-block-logo-title {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .review-block-logo {
        width: 33.33333%;
        justify-content: flex-start;
    }

    .review-block-title {
        width: 66.667%;
    }

    .review-block-logo + .review-block-title {
        padding-top: 4px;
    }
    .review-block-content {
        width: 68%;
        padding-right: 15px;
    }

    .review-block-img {
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: baseline;
    }

    .review-block-img .image-zoom-hover {
        display: block;
        margin-top: 15px;
        text-align: right;
        margin-left: auto;
    }

    .review-block-img .image-zoom-hover img {
        height: 274px;
        object-fit: contain;
        border-radius: 5px;
        display: inline-block;
    }

    .review-block .row {
        padding-right: 10px;
    }

    .review-block-img a.review-block-link {
        margin-top: 13px;
        font-size: 18px;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        width: 100%;
        text-align: right;
    }
}

@media (min-width: 992px) {

    .review-block {
        padding-top: 71px !important;
    }

    .review-block .col-12 {
        padding-bottom: 42px;
        padding-top: 54px;
        padding-left: 25px;
        padding-right: 20px;
        flex-wrap: nowrap;
    }

    .review-block-logo-title {
        display: flex;
        flex-wrap: wrap;
        width: 24%;
        align-content: baseline;
    }

    .review-block-logo img {
        height: 48px;
        margin-left: 0;
		object-fit: scale-down;
    }

    .review-block-logo {
        width: 100%;
    }
    .review-block-logo + .review-block-title {
        padding-top: 12px;
    }
    .review-block-title {
        width: 80%;
    }

    .review-block-content {
        width: 48%;
        margin-top: -3px;
    }

    .review-block-img {
        width: 28%;
    }

    .review-block-img .image-zoom-hover {
        margin-top: 0px;
    }

    .review-block-img .image-zoom-hover img {
        height: 300px;
    }

    .review-block-img a.review-block-link {
        position: absolute;
        left: 25px;
        bottom: 42px;
        display: inline-block;
        width: auto;
    }
}

@media (min-width: 1200px) {

    .review-block {
        padding-top: 71px !important;
    }

    .review-block .col-12 {
        padding-left: 45px;
        padding-right: 40px;
    }

    .review-block-img a.review-block-link {
        left: 45px;
    }
    .review-block-img {
        min-width: 220px;
    }
}

@media (min-width: 1450px) {
    .review-block-content {
        width: 58%;
        padding-right: 25px;
    }
    .review-block-img {
        width: 18%;
    }
}