{% extends 'Template/index.html' %}
{% load static %}
{% block name-page %}clients-page{% endblock %}
{% block content %}
    <section class="heading">
        <div class="wrap">
            <ul class="breadcrumbs" itemprop="http://schema.org/breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:index' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:company-about' %}" title="Компания" itemprop="item">
                        <span itemprop="name">Компания</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Наши клиенты</span>
                    <meta itemprop="position" content="3" />
                </li></ul>    </div>
    </section>
    <section class="animate-block custom-header-block">
        <div class="widewrap">
            <div class="row">
                <div class="col-12">
                    <h1 class="heading-1 heading-underline section-title-js">Наши клиенты</h1>
                    <p class="w-100 text text-lh-30 tn_dl_02">Мы работаем с крупнейшими российскими и международными компаниями: с крупнейшими страховыми компаниями, банками, ритейл, автомобильными брендами, государственными проектами, eСommerce, СМИ и другими.</p>
                    <div class="button-case tn_dr_05 tn_dl_04">
                        <a href="#" class="button-blue js-form-have-project">Стать клиентом</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block-first clients-grid-block">
        <div class="widewrap">
            <div class="row transform-y-55 tn_dl_04 tn_dr_05">
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/clavel.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/gchpinfo.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/kalibr.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/met.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/mirdereva.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/mirdetstva.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/moskonditer.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/osram.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/peresvet.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/ruspetrol.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/vbrr.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/vseinstrumenti.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/showbeep.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/nanofinance.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/gazprom.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/rosinfra.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/sanpa.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/galika.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/stroimdom.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/volvo.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/cominfro.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/centrpartner.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/goodcrop.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/winfield.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/opus.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/katrin.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/petroltrade.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/osnabruk.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/melkimbinat.svg' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/gchpsystem.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/kapriz.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/agrarnijsouz.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/vitoms.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/marisposa.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/electro-express.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/jbi1.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/garant-stroi.png' %}"></div>
                <div class="clients-grid-block-single"><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/transportnie-sistemi.png' %}"></div>
            </div>
        </div>
    </section>


    <section class="animate-block footer-form">
        <div class="wrap">
            <div class="row align-items-start">
                <div class="col-12 col-md-5 col-lg-4 col-xl-5 image-block-before footer-form-block-img"><img alt="" width="" height="" src="{% static '/local/templates/inetsys/img/footer-form-mail.png' %}">
                </div>
                <div class="col-12 col-md-12 col-xl-7 footer-form-block-text">
                    <h3 class="w-100 heading-2 heading-underline text-white section-title-js">Быстрая связь</h3>



                    <form id="bottom-form" class="footer-have-project transform-y-55 tn_dr_05 tn_dl_04 base-form" name="SIMPLE_FORM_3" action="/form-get/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="form_hidden_16" id="form_hidden_16" value="https://www.inetsys.ru/company/clients/">
                        <input type="hidden" name="g_recaptcha_response" value="">
                        <input type="hidden" name="WEB_FORM_ID" value="3">
                        <input type="hidden" name="sessid" id="sessid_1" value="07471865df1bca654cb950bbffa5caa7" />
                        <div class="input-wrap">
                            <input name="form_text_5" id="form_text_5" type="text" class="input-text required" placeholder="Ваше имя">
                            <label for="form_text_5">Ваше имя <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите ваше имя</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_6" id="form_text_6" type="text" class="input-text phone-validate required" placeholder="Телефон">
                            <label for="form_text_6">Телефон <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите телефон</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_18" id="form_text_18" type="text" class="input-text" placeholder="Email">
                            <label for="form_text_18">Email</label>
                            <span class="input-alert">Укажите Email</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_7" id="form_text_7" type="text" class="input-text required" placeholder="Сообщение">
                            <label for="form_text_7">Сообщение <span class="red-star">*</span></label>
                            <span class="input-alert">Напишите сообщение</span>
                        </div>
                        <p class="text-consent text-consent-checkbox"><input class="styled-checkbox required" type="checkbox" value="1" name="ch1" id="ch1">
                            <label for="ch1"></label> <span> Я согласен с условиями обработки <a href="/privacy/"> персональных данных</a>
              </span>
                            <span class="input-alert input-alert-checkbox">Согласитесь с условиями</span>
                        </p>
                        <button type="submit" name="web_form_submit" class="simple-btn" value="Отправить">Отправить</button>
                    </form>            </div>
            </div>
        </div>
    </section>
{% endblock %}