{% extends 'Template/index.html' %}
{% load static %}


{% block name-page %}main-page{% endblock %}

{% block content %}
    <section class=" main-banner header-color-js hc_js_2">
        <div class="header-content wrap">
            <div class="header-content_info header-content_info-pk">
                <div class="header-title">
                    <h1 class="not-h1">Разработка и создание сайтов</h1>
                </div>
                <p class="header-subtitle">Веб-студия «Интернет Системы»</p>
                <div class="header-tabs">
                    <ul class="header-tabs_nav">
                        <li class="header-tabs_nav-item active">
                            ПОЧАСОВАЯ ОПЛАТА
                        </li>
                        <li class="header-tabs_nav-item">
                            ОПЛАТА ЗА ПРОЕКТ
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-content_item active">
                            <p class="header-price">1 600 ₽ / чаc</p>
                        </div>
                        <div class="tab-content_item">
                            <p class="header-price">от 350 000 ₽ </p>
                        </div>
                    </div>
                </div>
                <p class="header-text">
                    Подключим программистов уровня Senior, дизайнеров или&nbsp;верстальщиков, все&nbsp;исправим и&nbsp;поддержим.
                </p>

                <a class="header-btn common-btn js-form-have-project">Расcчитать стоимость проекта</a>
            </div>
            <div class="header-img">
                <img width="" height="" class="header-img_mein" src="{% static '/local/templates/inetsys/img/header-image.png' %}" alt="" />
                <img alt="" width="" height=""  class="header-img_mein2" src="{% static '/local/templates/inetsys/img/header-image2.png' %}" style="display: none;" />
                <img alt="" width="" height=""  class="teg paralax-img" src="{% static '/local/templates/inetsys/img/teg.png' %}" data-z="2" data-y="2" />
                <img alt="" width="" height=""  class="hart paralax-img" src="{% static '/local/templates/inetsys/img/hart.png' %}" data-z="2" data-y="2" style="display: none;" />
                <img alt="" width="" height=""  class="star paralax-img" src="{% static '/local/templates/inetsys/img/stars.png' %}" data-z="-1" data-y="1" />
                <img alt="" width="" height=""  class="roket paralax-img" src="{% static '/local/templates/inetsys/img/roket.png' %}" data-z="3" data-y="2" />
                <img alt="" width="" height=""  class="detail paralax-img" src="{% static '/local/templates/inetsys/img/detail.png' %}" data-z="-2" data-y="2" />
                <img alt="" width="" height=""  class="wifi paralax-img" src="{% static '/local/templates/inetsys/img/wifi.png' %}" data-z="-2" data-y="2" style="display: none;" />
                <img alt="" width="" height=""  class="planet paralax-img" src="{% static '/local/templates/inetsys/img/planet.png' %}" data-z="-1" data-y="1" />
                <img alt="" width="" height=""  class="bubble paralax-img" src="{% static '/local/templates/inetsys/img/bubble.png' %}" data-z="-3" data-y="2" />
                <img alt="" width="" height=""  class="header-img_mein-mb" src="{% static '/local/templates/inetsys/img/header-image-mb.png' %}"/>
            </div>
            <div class="header-content_info header-content_info-mb">
                <p class="header-text">
                    Подключим программистов, дизайнеров <br> или верстальщиков, все исправим <br> и поддержим.
                </p>
                <buttun class="header-btn common-btn js-form-have-project">Расcчитать стоимость проекта</buttun>
            </div>
        </div>
    </section>
    <section class="develop animate-block">
        <div class="wrap">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="develop-title section-title section-title-js heading-underline">
                        Наши услуги
                    </h2>
                    <p class="develop-text section-text section-text-js">
                        Наша веб-студия готова выполнить любой проект - от типового создания сайта до индивидуального высокотехнологичного <br>
                        решения. Гарантируем комплексный подход к поиску лучшего решения вашей <br>
                        бизнес-задачи.
                    </p>
                    <div class="develop-slider">
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/block-img/develop-site.png' %}" class="develop__item-img" />
                                </div>

                                <a href="/development/" class="develop__item-title">
                                    Разработка сайта
                                </a>
                                <p class="develop__item-text">
                                    Создание сайтов с уникальным дизайном под ваши цели
                                </p>
                                <a href="/development/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/develop-img2.png' %}" alt="" class="develop__item-img" />
                                </div>

                                <a href="/shop/" class="develop__item-title">
                                    <nobr>Интернет-магазины</nobr>
                                </a>
                                <p class="develop__item-text">
                                    Ресурсы с грамотным юзабилити и дизайном для высокой конверсии

                                </p>
                                <a href="/shop/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/develop-img3.png' %}" alt="" class="develop__item-img" />
                                </div>

                                <a href="/complex/" class="develop__item-title">
                                    Сложные проекты
                                </a>
                                <p class="develop__item-text">
                                    Создание веб-систем с решением нестандартных задач

                                </p>
                                <a href="/complex/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/develop-img4.png' %}" alt="" class="develop__item-img " />
                                </div>

                                <a href="/support/" class="develop__item-title">
                                    Поддержка 24/7
                                </a>
                                <p class="develop__item-text">
                                    Круглосуточная техническая поддержка сайтов для их бесперебойной работы

                                </p>
                                <a href="/support/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/seo.png' %}" alt="" class="develop__item-img " />
                                </div>

                                <a href="/seo/" class="develop__item-title">
                                    Продвижение
                                </a>
                                <p class="develop__item-text">
                                    Раскрутка сайтов в поисковых системах Яндекс и Google
                                </p>
                                <a href="/seo/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/develop-img5.png' %}" alt="" class="develop__item-img " />
                                </div>

                                <a href="/bitrix24/" class="develop__item-title">
                                    Интеграция с Битрикс 24
                                </a>
                                <p class="develop__item-text">
                                    Внедрение CRM Битрикс 24 для увеличения прибыли и прозрачности бизнеса

                                </p>
                                <a href="/bitrix24/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                        <div>
                            <div class="develop-item">
                                <div class="develop__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/develop-img1.png' %}" alt="" class="develop__item-img " />
                                </div>

                                <a href="/mobile/" class="develop__item-title">
                                    Мобильная <br>разработка
                                </a>
                                <p class="develop__item-text">
                                    Разработка и поддержка мобильных приложений и веб-сервисов для компании

                                </p>
                                <a href="/mobile/" class="develop__item-link arrow-button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project animate-block">
        <div class="">
            <p class="wrap section-title projects-title section-title-js">
                Новые проекты
            </p>
            <div class="row project-list">
                <div class="project__item-wrap col-xl-12 project-banner-mosconditer">
                    <div class="project-item">
                        <div class="wrap">
                            <div class="project__item-subtitle">
                                Магазин кондитерского <br>
                                объединения
                            </div>
                            <div class="project__item-title" style="color: #FAD77F;">
                                «Москондитер»
                            </div>
                            <ul class="project__item-list">
                                <li><span class="project__item-dots" style="background-color: #FAD77F;"></span> Интернет-магазин сладких
                                    новогодних
                                    <br> подарков
                                </li>
                                <li><span class="project__item-dots" style="background-color: #FAD77F;"></span> Интеграция с 1С</li>
                                <li><span class="project__item-dots" style="background-color: #FAD77F;"></span> Индивидуальный дизайн
                                </li>
                                <li><span class="project__item-dots" style="background-color: #FAD77F;"></span> CMS Drupal</li>
                            </ul>
                            <a href="http://москондитер.рф" class="project__item-link" style="color: #FAD77F;" rel="nofollow">москондитер.рф</a>
                            <a href="/projects/moskonditer/" target="_blank" class="project__item-btn">Подробнее</a>
                            <button class="project-list-prev project-list-arrow ico-arrow-left" style="color: #fff;"
                                    aria-label="Previous" type="button"></button>
                            <button class="project-list-next project-list-arrow ico-arrow-right" style="color: #fff;"
                                    aria-label="Next" type="button"></button>
                        </div>
                    </div>
                </div><div class="project__item-wrap col-xl-12 project-banner-vbrr">
                <div class="project-item">
                    <div class="wrap">
                        <div class="project__item-subtitle" style="color: #2C2C2C;">

                            Сайт федерального отделения банка <br>
                            ТОП 15 банков России
                        </div>

                        <div class="project__item-title" style="color: #2C2C2C;">
                            ВББР
                        </div>
                        <p class="project__item-text" style="color: #2C2C2C;">Всероссийский банк развития регионов</p>
                        <ul class="project__item-list">
                            <li style="color: #2C2C2C;"><span class="project__item-dots"></span>
                                Федеральный сайт крупнейшего банка</li>
                            <li style="color: #2C2C2C;"><span class="project__item-dots"></span>
                                Индивидуальный адаптивный дизайн</li>
                            <li style="color: #2C2C2C;"><span class="project__item-dots"></span>
                                Мультиязычность</li>

                        </ul>

                        <a href="http://vbrr.ru" class="project__item-link" style="color:#2C2C2C;" rel="nofollow">vbrr.ru</a>
                        <a href="/projects/vbrr/" target="_blank" class="project__item-btn" style="color:#2C2C2C;border-color:#2C2C2C;">Подробнее</a>
                        <button class="project-list-prev project-list-arrow ico-arrow-left" aria-label="Previous" type="button"
                                style="border-color: #2C2C2C;color: #2C2C2C;"></button>
                        <button class="project-list-next project-list-arrow ico-arrow-right" aria-label="Next" type="button"
                                style="border-color: #2C2C2C; color: #2C2C2C;"></button>
                    </div>
                </div>
            </div><div class="project__item-wrap col-xl-12 project-banner-kalibr">
                <div class="project-item">
                    <div class="wrap">
                        <div class="project__item-subtitle">
                            Корпоративный сайт <br>
                            делового центра
                        </div>
                        <div class="project__item-title" style="color: #95A6FF;">
                            «Калибр»
                        </div>
                        <ul class="project__item-list">
                            <li><span class="project__item-dots" style="background-color: #95A6FF;"></span> Корпоративный сайт с
                                каталогом <br>
                                площадей</li>
                            <li><span class="project__item-dots" style="background-color: #95A6FF;"></span> Индивидуальный
                                адаптивный
                                дизайн</li>
                            <li><span class="project__item-dots" style="background-color: #95A6FF;"></span> Мультиязычность</li>
                            <li><span class="project__item-dots" style="background-color: #95A6FF;"></span> CMS Drupal</li>
                        </ul>

                        <a href="http://kalibroao.ru" class="project__item-link" style="color: #95A6FF;" rel="nofollow">kalibroao.ru</a>
                        <a href="/projects/kalibr/" target="_blank" class="project__item-btn">Подробнее</a>
                        <button class="project-list-prev project-list-arrow ico-arrow-left" style="color: #fff;"
                                aria-label="Previous" type="button"></button>
                        <button class="project-list-next project-list-arrow ico-arrow-right" style="color: #fff;"
                                aria-label="Next" type="button"></button>
                    </div>
                </div>
            </div><div class="project__item-wrap col-xl-12 project-banner-met">
                <div class="project-item">
                    <div class="wrap">
                        <div class="project__item-subtitle">
                            Интернет-магазин поставщика <br>
                            медицинского оборудования
                        </div>
                        <div class="project__item-title" style="color: #fff;">
                            «MET»
                        </div>
                        <ul class="project__item-list">
                            <li style="color: #2C2C2C;"><span class="project__item-dots" style="background-color: #fff;"></span>
                                Индивидуальный адаптивный дизайн</li>
                            <li style="color: #2C2C2C;"><span class="project__item-dots" style="background-color: #fff;"></span>
                                Интеграция с Ultima ERP</li>
                            <li style="color: #2C2C2C;"><span class="project__item-dots" style="background-color: #fff;"></span>
                                Раздельные каталоги для розницы и опта</li>
                            <li style="color: #2C2C2C;"><span class="project__item-dots" style="background-color: #fff;"></span> CMS
                                1С Битрикс</li>
                        </ul>

                        <a href="http://met.ru" class="project__item-link" style="color: #fff;" rel="nofollow">met.ru</a>
                        <a href="/projects/met/" target="_blank" class="project__item-btn">Подробнее</a>
                        <button class="project-list-prev project-list-arrow ico-arrow-left" style="color: #fff;"
                                aria-label="Previous" type="button"></button>
                        <button class="project-list-next project-list-arrow ico-arrow-right" style="color: #fff;"
                                aria-label="Next" type="button"></button>
                    </div>
                </div>
            </div><div class="project__item-wrap col-xl-12 project-banner-stena">
                <div class="project-item">
                    <div class="wrap">
                        <div class="project__item-subtitle">
                            Интернет-магазин декоративных покрытий
                        </div>
                        <div class="project__item-title" style="color: #fff;">
                            «Stena»
                        </div>
                        <ul class="project__item-list">
                            <li><span class="project__item-dots" style="background-color: #52F7FE;"></span>
                                Сметный калькулятор расхода материала</li>
                            <li><span class="project__item-dots" style="background-color: #52F7FE;"></span>
                                Визуализатор текстур</li>
                            <li><span class="project__item-dots" style="background-color: #52F7FE;"></span>
                                Дилерский кабинет с системой заказов <br> и оптимизации транспортных расходов</li>

                        </ul>

                        <a href="http://stena.ru" class="project__item-link" style="color: #52F7FE;" rel="nofollow">stena.ru</a>
                        <a href="/projects/stena/" target="_blank" class="project__item-btn">Подробнее</a>
                        <button class="project-list-prev project-list-arrow ico-arrow-left" style="color: #fff;"
                                aria-label="Previous" type="button"></button>
                        <button class="project-list-next project-list-arrow ico-arrow-right" style="color: #fff;"
                                aria-label="Next" type="button"></button>
                    </div>
                </div>
            </div>            </div>
        </div>
    </section>
    <section class="animate-block header-color-js create-block-specialization">
        <div class="thickwrap">
            <div class="row block-image-right">
                <div class="col-12 col-lg-6 subpadding">
                    <h3 class="heading-2 heading-underline section-title-js">Создаем сайты на&nbsp;Drupal и&nbsp;Битрикс</h3>
                    <p class="text text-lh-30 tn_dl_02">Мы работаем только с двумя CMS, но зато знаем о них все, следим за самым
                        актуальным в мире по этой теме, делаем работу безупречно.
                    </p>
                    <img alt="" width="" height=""  class="c-plus-bitrix-logo transform-y-55 tn_dl_04 tn_dr_05" src="{% static '/local/templates/inetsys/img/specialization-img.png' %}">
                </div>
                <div class="col-12 col-lg-6 image-block-before">
                    <div class="specialization-img-block">
                        <img alt="" width="" height="" src="{% static '/local/templates/inetsys/img/specialization-img2.png' %}">
                        <div class="w-100 text-specialization-bitrix">
                            <div class="sepcialization-bitrix-btn prnt-active-btn transform-y-55 tn_dl_08 tn_dr_05"><span
                                    class="why-btn">Почему Битрикс</span><span class="ico-plus"></span></div>
                            <p class="blue-bold text-fs-18">Почему Битрикс</p>
                            <p>Беспроигрышный вариант, «заточенный» под российский рынок. Все новейшие обновления происходят в этом
                                направлении. Безопасная, устойчивая, практичная.</p>
                        </div>
                        <div class="w-100 text-specialization-drupal">
                            <div class="sepcialization-drupal-btn prnt-active-btn transform-y-55 tn_dl_10 tn_dr_05"><span
                                    class="ico-plus"></span><span class="why-btn">Почему Drupal</span></div>
                            <p class="blue-bold text-fs-18">Почему Drupal</p>
                            <p>Масштабируемая и гибкая система, с&nbsp;которой Ваш бизнес никогда «не упрется в потолок». Идеально для
                                стремительно растущего бизнеса. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients animate-block">
        <div class="wrap">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="clients-title heading-underline clients-title-mb section-title d-block d-xl-none">
                        Больше 150 клиентов <br />
                        доверяют нам свои сайты
                    </h3>
                </div>
                <div class="col-xl-6 col">
                    <p class="clients-title heading-underline clients-title-pk section-title section-title-js d-none d-xl-block">
                        Больше 150 клиентов <br />
                        доверяют нам свои сайты
                    </p>
                    <div class="clients-text section-text section-text-js">
                        Мы&nbsp;работаем с&nbsp;крупнейшими российскими и&nbsp;международными страховыми компаниями, банками, ритейл, автомобильными брендами, государственными проектами, eСommerce, СМИ и&nbsp;другими.
                    </div>
                    <a href="" class="clients-btn common-btn clients-btn-pk js-form-have-project">Стать клиентом</a>
                </div>
                <div class="col-xl-6 col clients-slider-wrap">
                    <div class="clients-slider">
                        <div class="clients-item-wrap">
                            <div class="clients-item clients-item-first">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/vbrr.svg' %}" class="clients__item-img" />
                                </div>
                                <p class="clients__item-title">
                                    ТОП 15 крупнейших российских банков
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item ">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/moskonditer.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Крупнейший производитель сладких новогодних подарков
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item ">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/clavel.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Производитель широкой коллекции дизайнерских интерьерных покрытий
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/ruspetrol.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Оптовый и&nbsp;розничный продавец нефтепродуктов
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/met.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Производитель специализированной медицинской мебели и&nbsp;оборудования
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/kalibr.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Технопарк и коворкинг для&nbsp;развития инновационных технологий и&nbsp;решений
                                </p>
                            </div>
                        </div>
                        <div class="clients-item-wrap">
                            <div class="clients-item">
                                <div class="clients__item-img-wrap">
                                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/logos/vseinstrumenti.svg' %}" class="clients__item-img " />
                                </div>
                                <p class="clients__item-title">
                                    Онлайн-гипермаркет товаров для&nbsp;дома, дачи, ремонта и&nbsp;строительства
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="" class="clients-btn common-btn clients-btn-mb">Стать клиентом</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="wrap">
            <div class="row advantages-item animate-block">
                <div class="col-lg-5 advantages-col-img image-block-before">
                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/advantages-img1-2.png' %}" class="advantages-img"/>
                    <div class="float-circles"></div>
                </div>
                <div class="col-lg-7 advantages-col-text">
                    <h3 class=" section-title advantages-title section-title-js heading-underline">
                        Мыслим вместе с&nbsp;Вами <br> категориями Целей
                    </h3>
                    <p class="section-text advantages-text section-text-js">
                        Решение задач не гарантирует отсутствие старых и новых <br>
                        проблем. Технологии быстро меняются, и то, что было сделано <br>
                        строго в рамках задачи, уже завтра станет бессмысленным, <br>
                        а задача, решенная «на коленке» «по-быстрому», поставит <br>
                        функциональность сайта под угрозу.
                    </p>
                </div>
            </div>
            <div class="row advantages-item animate-block">
                <div class="col-lg-6 advantages-col-text">
                    <h3 class="section-title advantages-title section-title-js heading-underline">
                        Наш подход - другой, <br>
                        стратегический
                    </h3>
                    <p class="section-text advantages-text section-text-js">
                        Мы приступаем к задаче только после того, как выясним, <br>
                        для чего ее нужно решить. Глубоко погружаясь в цели, <br>
                        мы выбираем оптимальные, всесторонне продуманные <br>
                        решения и тем самым минимизируем риски клиента. <br>
                        Это чуть дольше и менее выгодно для нас, но позволяет создать сайт или решить задачу наиболее эффективным способом, при этом
                        сэкономив вам нервы и деньги.
                    </p>
                </div>
                <div class="col-lg-6 advantages-col-img image-block-before">
                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/advantages-img2-2.png' %}" class="advantages-img"/>
                    <div class="float-circles"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="transparent-price animate-block">
        <div class="wrap">
            <div class="row transparent-price__item">
                <div class="col-lg-5 transparent-price_img image-block-before">
                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/advantages-img3-2.png' %}" class="transparent-price__img" alt="" />
                    <div class="float-circles"></div>
                </div>

                <div class="col-lg-7 transparent-price_info">
                    <h3 class="section-title transparent-price__title section-title-js heading-underline">
                        100% прозрачная <br>
                        цена
                    </h3>


                    <p class="transparent-price__text section-text section-text-js">
                        Учет рабочего времени по каждой задаче ведется через специальный программный тайм-трекер. Мы не округляем время до часа, создаем условия, при которых программисту невыгодно растягивать сроки, <br>
                        и максимально открыты для клиента. В результате вы всегда знаете, <br>
                        за что платите, и не переплачиваете ни копейки.
                    </p>
                    <div class="transparent-price_item">
                        <div class="transparent-price_item-img-wrap ico-clock single-ico">
                        </div>
                        <div class="transparent-price_item_info">
                            <p class="transparent-price_item-title">Почасовая оплата</p>
                            <p class="transparent-price_item-text">с точностью до секунды</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="animate-block office-team-block support-block">
        <div class="widewrap">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <h2 class="heading-2 heading-underline section-title-js">Работы по&nbsp;поддержке и созданию сайтов будет выполнять команда из&nbsp;20 человек</h2>
                    <p class="text text-lh-30 tn_dl_02">Мы создали отлаженно работающую систему, гарантирующую вам
                        предсказуемость результата и&nbsp;полную прозрачность действий.</p>
                </div>
            </div>
        </div>
        <div class="widewrap2">
            <div class="row office-team-block-grid radius-block transform-y-55 tn_dr_05 tn_dl_04">
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-design">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/designer.png' %}" class=""></div>
                    <p>Дизайнеры и иллюстраторы
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-layer">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/layer.png' %}" class=""></div>
                    <p>Верстальщики
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-progr">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/programist.png' %}" class=""></div>
                    <p>Программисты
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-seo">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/seo.png' %}" class=""></div>
                    <p>Оптимизаторы
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-cwriter">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/cwriter.png' %}" class=""></div>
                    <p>Копирайтеры и контент-менеджеры
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 office-team-sysadmin">
                    <div><img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/sysadmin.png' %}" class=""></div>
                    <p>Сисадмины</p>
                </div>
            </div>
        </div>
        <div class="widewrap">
            <div class="row office-team-block-after">
                <div class="col-12">
                    <img alt="" width="" height=""  src="{% static '/local/templates/inetsys/img/team/manager.png' %}" class="transform-y-55 tn_dr_05 tn_dl_06 ">
                    <p class="text text-lh-30 tn_dl_08">Персональный менеджер курирует все вопросы, следит за&nbsp;выполнением работ и&nbsp;держит вас в&nbsp;курсе.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="tools animate-block">
        <div class="wrap">
            <div class="row">


                <div class="col-xl-12">
                    <p class="section-title tools-title section-title-js heading-underline">
                        Инструменты <br>

                        обеспечения качества
                    </p>
                    <div class=" tools__item-list">
                        <div class="tools__item">
                            <div class="tools__img-wrap ico-center single-ico">
                            </div>
                            <div class="tools__item-ifo">
                                <p class="tools__item-title">
                                    Централизация управления проектом
                                </p>
                            </div>
                        </div>

                        <div class="tools__item">
                            <div class="tools__img-wrap ico-gear single-ico">
                            </div>
                            <div class="tools__item-ifo ">
                                <p class="tools__item-title">
                                    Системы контроля версий
                                    и&nbsp;качества кода
                                </p>
                                <p class="tools__item-text">
                                    Git
                                    для PHP стандарт оформления PSR
                                </p>
                            </div>
                        </div>
                        <div class="tools__item">
                            <div class="tools__img-wrap ico-tehnology single-ico">
                            </div>
                            <div class="tools__item-ifo">
                                <p class="tools__item-title">
                                    Современные инструменты
                                    и&nbsp;технологии для front-end
                                    и&nbsp;back-end
                                </p>
                                <p class="tools__item-text">
                                    Bootstrap, БЭМ, Препроцессоры (SCSS, TypeScript),
                                    сборщики Gulp/WebPack
                                </p>
                            </div>
                        </div>
                        <div class="tools__item">
                            <div class="tools__img-wrap ico-schedule single-ico">
                            </div>
                            <div class="tools__item-ifo">
                                <p class="tools__item-title">
                                    Развертывание
                                    и&nbsp;использование окружений
                                    для&nbsp;разработки
                                    и &nbsp;тестирования
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="acceleration animate-block">
        <div class="wrap">
            <div class="row">

                <div class="col-xl-6">
                    <p class="section-title acceleration__title section-title-js">
                        Что делать, чтобы <br>
                        ваш сайт «летал»?
                    </p>
                    <p class="section-subtitle acceleration__subtitle">
                        Закажите бесплатный аудит производительности сайта, <br />
                        и ваши клиенты перестанут уходить к конкурентам.
                    </p>
                    <ul class="acceleration-list">
                        <li>
                            <span class="ico-details"></span>
                            Проведем комплексную экспертизу
                        </li>
                        <li>
                            <span class="ico-drawsdown"></span>
                            Найдем причину медленной работы и сбоев
                        </li>
                        <li>
                            <span class="ico-board"></span>
                            Объясним, как именно решить проблему
                        </li>
                    </ul>

                    <div class="acceleration__bottom">

                        <div class="acceleration__atributes">
                            <div class="acceleration__atributes-item">
                                <div class="acceleration__atributes-icon-wrap ico-rub single-ico">
                                </div>
                                <div class="acceleration__atributes-item-info">
                                    <p class="acceleration__atributes-item-title">Стоимость:</p>
                                    <p class="acceleration__atributes-item-text">Бесплатно</p>
                                </div>
                            </div>
                            <div class="acceleration__atributes-item">
                                <div class="acceleration__atributes-icon-wrap ico-time single-ico">
                                </div>
                                <div class="acceleration__atributes-item-info">
                                    <p class="acceleration__atributes-item-title">Сроки:</p>
                                    <p class="acceleration__atributes-item-text">От 1 дня</p>
                                </div>
                            </div>
                        </div>
                        <p class="acceleration__text">
                            Результатом оказанных услуг является отчет (в электронной форме)
                            <br />
                            из 50 пунктов по вашему сайту.
                        </p>
                    </div>

                </div>                <div class="col-xl-6 acceleration-form-wrap">

                <form class="acceleration-form" name="SIMPLE_FORM_3" action="/form-get/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_hidden_16" id="form_hidden_16" value="https://www.inetsys.ru/">
                    <input type="hidden" name="g_recaptcha_response" value="">
                    <input type="hidden" name="WEB_FORM_ID" value="3">
                    <input type="hidden" name="sessid" id="sessid_1" value="d7b6a3d32c2e1ae2303a22f7c328ad9c" />    <p class="acceleration-form-title">Оставить заявку</p>



                    <div class="input-wrap">
                        <input name="form_text_5" id="form_text_5" type="text" class="input-text inputtext required" placeholder="Ваше имя">
                        <label for="form_text_5">Ваше имя <span class="red-star">*</span></label>
                        <span class="input-alert">Укажите ваше имя</span>
                    </div>

                    <div class="input-wrap">
                        <input name="form_text_6" id="form_text_6" type="text" class="input-text phone-validate required" placeholder="Телефон">
                        <label for="form_text_6">Телефон <span class="red-star">*</span></label>
                        <span class="input-alert">Укажите телефон</span>
                    </div>
                    <div class="input-wrap">
                        <input name="form_text_18" id="form_text_18" type="text" class="input-text" placeholder="Email">
                        <label for="form_text_18">Email </label>
                        <span class="input-alert">Укажите Email</span>
                    </div>
                    <div class="input-wrap">
                        <input name="form_text_7" id="form_text_7" type="text" class="input-text required" placeholder="Сообщение">
                        <label for="form_text_7">Сообщение <span class="red-star">*</span></label>
                        <span class="input-alert">Напишите сообщение</span>
                    </div>
                    <p class="text-consent  text-consent-checkbox"><input class="styled-checkbox required" type="checkbox" value="1" name="ch1" id="ch1">
                        <label for="ch1"></label> <span> Я согласен с условиями обработки <br> <a href="/privacy/"> персональных данных</a>
              </span>
                        <span class="input-alert input-alert-checkbox">Согласитесь с условиями</span>
                    </p>
                    <button type="submit" name="web_form_submit" class="simple-btn web_form_submit" value="Отправить">Отправить</button>
                </form>                </div>
            </div>
        </div>

    </section>
    <section class="contacts animate-block">
        <div class="wrap">
            <div class="row">
                <div class="col-xl-12">
                    <p class="section-title contacts__title section-title-js heading-underline">
                        Контакты
                    </p>
                    <div class="contacts__item-list">


                        <div class="contacts__item" id="bx_3218110189_25">
                            <div class="contacts__item-wrap" style="background-image: url({% static 'local/templates/inetsys/img/contacts__img1-wrap.png' %});">
                                <img alt="" width="" height=""  src="{% static '/upload/iblock/853/853dc0cd582a4b808ea379e43270c671.png' %}" alt="Москва" />
                            </div>
                            <div class="contacts__item-info">
                                <p class="contacts__item-title">
                                    Москва:
                                </p>
                                <div class="contacts__item-adres" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                    <p class="d-none" itemprop="addressLocality">Москва</p>
                                    <span itemprop="streetAddress">ул. Смольная, д 24а, офис&nbsp;1811</span>
                                </div>
                                <a href="tel:+7 (495) 724-90-65" class="contacts__item-tel">
                                    +7 (495) 724-90-65                </a>
                                <p class="contacts__item-working-hours">
                                    Пн - пт. 9:00 - 19:00                </p>
                                <a href="/contacts/#moscow" class="contacts__item-link-map arrow-button">
                                    Подробнее </a>
                            </div>

                        </div>


                        <div class="contacts__item" id="bx_3218110189_26">
                            <div class="contacts__item-wrap" style="background-image: url({% static '/local/templates/inetsys/img/contacts__img1-wrap.png' %});">
                                <img alt="" width="" height=""  src="{% static '/upload/iblock/80c/80c9d8568001ae5a334bdd60633f22d1.png' %}" alt="Тверь" />
                            </div>
                            <div class="contacts__item-info">
                                <p class="contacts__item-title">
                                    Тверь:
                                </p>
                                <div class="contacts__item-adres" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                    <p class="d-none" itemprop="addressLocality">Тверь</p>
                                    <span itemprop="streetAddress">пр-т Победы, д.3, офис&nbsp;313</span>
                                </div>
                                <a href="tel:+7 (4822) 34-55-73" class="contacts__item-tel">
                                    +7 (4822) 34-55-73                </a>
                                <p class="contacts__item-working-hours">
                                    Пн - пт. 9:00 - 19:00                </p>
                                <a href="/contacts/#tver" class="contacts__item-link-map arrow-button">
                                    Подробнее </a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}