{% extends 'Template/index.html' %}
{% load static %}


{% block name-page %}page-work{% endblock %}

{% block content %}
    <section class="heading">
        <div class="wrap">
            <ul class="breadcrumbs" itemprop="http://schema.org/breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:index' %}" title="Главная" itemprop="item">
                        <span itemprop="name">Главная</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'Index:company-about' %}" title="Компания" itemprop="item">
                        <span itemprop="name">Компания</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Вакансии</span>
                    <meta itemprop="position" content="3" />
                </li>
            </ul>
            <h1 class="heading-1 transform-y-55 anim_jump-title-in an_dl_02">Вакансии</h1>
        </div>
    </section>
    <section class="animate-block-first need-worker-block" id="bx_3218110189_27">
        <div class="widewrap">
            <div class="row">
                <div class="col-12">
                    <p class="heading-2 section-title-js transform-y-55 tn_dr_05 tn_dl_04">Bitrix-разработчик / PHP-программист</p>
                    <p class="heading-number transform-y-55 tn_dr_05 tn_dl_05">Зарплата: 60 000 - 70 000 руб.</p>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_06">Должностные обязанности:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_06">
                        <li>Разработка/поддержка сайтов</li>
                        <li>Разработка/доработка компонентов и модулей 1С Битрикс</li>
                        <li>Интеграция с внешними системами (1С, ERP, платежными системами и др.)</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_08">Требования:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_08">
                        <li>Опыт разработки сайтов на 1С Битрикс от 1 года</li>
                        <li>Знания API и архитектуры 1С Битрикс</li>
                        <li>PHP 5.4+, ООП, SQL, JS (jQuery)</li>
                        <li>Базовые навыки вёрстки (HTML 5, CSS 3)</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_10">Условия работы:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_10">
                        <li>Пятидневная рабочая неделя, график работы 9:00-18:00 в офисе</li>
                        <li>Стабильные выплаты два раза в месяц (аванс и зарплата)</li>
                        <li>Оформление по ТК РФ, полная оплата отпуска и больничных</li>
                        <li>Работа с интересными задачами, профессиональный и карьерный рост</li>
                        <li>Молодой дружный коллектив</li>
                        <li>Просторный офис на площади Капошвара, чай, печеньки</li>
                    </ul>
                    <p class="work-contact transform-y-55 tn_dr_05 tn_dl_12">Контактное лицо: <span class="font-blue-color">Болясов Юрий</span><br />
                        Телефон: <a href="tel:8 (904) 015-74-64">8 (904) 015-74-64</a>, <a href="tel:8 (920) 692-94-30">8 (920)
                            692-94-30</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block-first need-worker-block" id="bx_3218110189_28">
        <div class="widewrap">
            <div class="row">
                <div class="col-12">
                    <p class="heading-2 section-title-js transform-y-55 tn_dr_05 tn_dl_04">Младший Bitrix-разработчик / PHP-программист</p>
                    <p class="heading-number transform-y-55 tn_dr_05 tn_dl_05">Зарплата: 40 000 - 60 000 руб.</p>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_06">Должностные обязанности:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_06">
                        <li>Разработка/поддержка сайтов</li>
                        <li>Внесение правок в существующий код</li>
                        <li>Интеграция готовой верстки на фронтенд</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_08">Требования:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_08">
                        <li>Опыт разработки сайтов на 1С Битрикс приветствуется</li>
                        <li>Начальные знания PHP</li>
                        <li>Базовые навыки вёрстки (HTML, CSS)</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_10">Условия работы:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_10">
                        <li>Пятидневная рабочая неделя, график работы 9:00-18:00 в офисе</li>
                        <li>Стабильные выплаты два раза в месяц (аванс и зарплата)</li>
                        <li>Оформление по ТК РФ, полная оплата отпуска и больничных</li>
                        <li>Работа с интересными задачами, профессиональный и карьерный рост</li>
                        <li>Молодой дружный коллектив</li>
                        <li>Просторный офис на площади Капошвара, чай, печеньки</li>
                    </ul>
                    <p class="work-contact transform-y-55 tn_dr_05 tn_dl_12">Контактное лицо: <span class="font-blue-color">Болясов Юрий</span><br>
                        Телефон: <a href="tel:8 (904) 015-74-64">8 (904) 015-74-64</a>, <a href="tel:8 (920) 692-94-30">8 (920)
                            692-94-30</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block-first need-worker-block" id="bx_3218110189_29">
        <div class="widewrap">
            <div class="row">
                <div class="col-12">
                    <p class="heading-2 section-title-js transform-y-55 tn_dr_05 tn_dl_04">Старший SEO-специалист</p>
                    <p class="heading-number transform-y-55 tn_dr_05 tn_dl_05">Зарплата: от 50 000 руб.</p>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_06">Должностные обязанности:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_06">
                        <li>Контроль и корректировка процесса продвижения проектов</li>
                        <li>Анализ и выполнение задач по внутренней оптимизации</li>
                        <li>Анализ и улучшение коммерческих и поведенческих факторов</li>
                        <li>Создание качественного ссылочного профиля</li>
                        <li>Поиск, разработка и совершенствование технологий оптимизации</li>
                        <li>Участие в развитии софта</li>
                        <li>Участие в новых проектах, экспериментах</li>
                        <li>Взаимодействие с другими специалистами отдела («мозговой штурм»)</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_08">Требования:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_08">
                        <li>Желание развиваться, работать и зарабатывать</li>
                        <li>Аналитический склад ума</li>
                        <li>Уверенное знание HTML и CSS, основ PHP</li>
                        <li>Умение выявлять негативные факторы в продвижении, способность самостоятельно их устранять</li>
                        <li>Навыки по анализу факторов ранжирования</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_10">Условия работы:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_10">
                        <li>Пятидневная рабочая неделя, график работы  9:00-18:00</li>
                        <li>Заработная плата + %. Неограниченный сверху уровень дохода</li>
                        <li>Стабильные выплаты два раза в месяц (аванс и зарплата)</li>
                        <li>Оформление по ТК РФ, полная оплата отпуска и больничных</li>
                        <li>Работа с интересными  задачами, карьерный рост</li>
                        <li>Молодой дружный коллектив</li>
                        <li>Профессиональный и карьерный рост</li>
                    </ul>
                    <p class="work-contact transform-y-55 tn_dr_05 tn_dl_12">Контактное лицо: <span class="font-blue-color">Болясов Юрий</span><br>
                        Телефон: <a href="tel:8 (904) 015-74-64">8 (904) 015-74-64</a>, <a href="tel:8 (920) 692-94-30">8 (920)
                            692-94-30</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block-first need-worker-block" id="bx_3218110189_30">
        <div class="widewrap">
            <div class="row">
                <div class="col-12">
                    <p class="heading-2 section-title-js transform-y-55 tn_dr_05 tn_dl_04">Младший SEO-специалист</p>
                    <p class="heading-number transform-y-55 tn_dr_05 tn_dl_05">Зарплата: 20 000 – 30 000 руб.</p>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_06">Должностные обязанности:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_06">
                        <li>Контроль и корректировка процесса продвижения проектов</li>
                        <li>Анализ и выполнение задач по внутренней оптимизации</li>
                        <li>Анализ и улучшение поведенческих факторов, конверсии</li>
                        <li>Участие в новых проектах, экспериментах</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_08">Требования:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_08">
                        <li>Желание развиваться, работать и зарабатывать</li>
                        <li>Аналитический склад ума</li>
                        <li>Знания HTML и CSS</li>
                    </ul>
                    <p class="heading-4 transform-y-55 tn_dr_05 tn_dl_10">Условия работы:</p>
                    <ul class="list-check transform-y-55 tn_dr_05 tn_dl_10">
                        <li>Пятидневная рабочая неделя, график работы  9:00-18:00</li>
                        <li>Заработная плата + %. Неограниченный сверху уровень дохода</li>
                        <li>Стабильные выплаты два раза в месяц (аванс и зарплата)</li>
                        <li>Оформление по ТК РФ, полная оплата отпуска и больничных</li>
                        <li>Работа с интересными  задачами, карьерный рост</li>
                        <li>Молодой дружный коллектив</li>
                        <li>Профессиональный и карьерный рост</li>
                    </ul>
                    <p class="work-contact transform-y-55 tn_dr_05 tn_dl_12">Контактное лицо: <span class="font-blue-color">Болясов Юрий</span><br>
                        Телефон: <a href="tel:8 (904) 015-74-64">8 (904) 015-74-64</a>, <a href="tel:8 (920) 692-94-30">8 (920)
                            692-94-30</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="animate-block footer-form">
        <div class="wrap">
            <div class="row align-items-start">
                <div class="col-12 col-md-5 col-lg-4 col-xl-5 image-block-before footer-form-block-img"><img alt="" width="" height=""
                                                                                                             src="{% static '/local/templates/inetsys/img/footer-form-mail.png' %}">
                </div>
                <div class="col-12 col-md-12 col-xl-7 footer-form-block-text">
                    <h3 class="w-100 heading-2 heading-underline text-white section-title-js">Быстрая связь</h3>



                    <form id="bottom-form" class="footer-have-project transform-y-55 tn_dr_05 tn_dl_04 base-form" name="SIMPLE_FORM_3" action="/form-get/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="form_hidden_16" id="form_hidden_16" value="https://www.inetsys.ru/company/work/">
                        <input type="hidden" name="g_recaptcha_response" value="">
                        <input type="hidden" name="WEB_FORM_ID" value="3">
                        <input type="hidden" name="sessid" id="sessid_1" value="07471865df1bca654cb950bbffa5caa7" />
                        <div class="input-wrap">
                            <input name="form_text_5" id="form_text_5" type="text" class="input-text required" placeholder="Ваше имя">
                            <label for="form_text_5">Ваше имя <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите ваше имя</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_6" id="form_text_6" type="text" class="input-text phone-validate required" placeholder="Телефон">
                            <label for="form_text_6">Телефон <span class="red-star">*</span></label>
                            <span class="input-alert">Укажите телефон</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_18" id="form_text_18" type="text" class="input-text" placeholder="Email">
                            <label for="form_text_18">Email</label>
                            <span class="input-alert">Укажите Email</span>
                        </div>
                        <div class="input-wrap">
                            <input name="form_text_7" id="form_text_7" type="text" class="input-text required" placeholder="Сообщение">
                            <label for="form_text_7">Сообщение <span class="red-star">*</span></label>
                            <span class="input-alert">Напишите сообщение</span>
                        </div>
                        <p class="text-consent text-consent-checkbox"><input class="styled-checkbox required" type="checkbox" value="1" name="ch1" id="ch1">
                            <label for="ch1"></label> <span> Я согласен с условиями обработки <a href="/privacy/"> персональных данных</a>
              </span>
                            <span class="input-alert input-alert-checkbox">Согласитесь с условиями</span>
                        </p>
                        <button type="submit" name="web_form_submit" class="simple-btn" value="Отправить">Отправить</button>
                    </form>            </div>
            </div>
        </div>
    </section>
{% endblock %}