@font-face {
    font-family: 'PFDinTextCompProMedium';
    src: url('../fonts/pfdintextcomppro-medium.eot');
    src: url('../fonts/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-medium.svg#PFDinTextCompProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProRegular';
    src: url('../fonts/pfdintextcomppro-regular.eot');
    src: url('../fonts/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-regular.svg#PFDinTextCompProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProThin';
    src: url('../fonts/pfdintextcomppro-thin.eot');
    src: url('../fonts/pfdintextcomppro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-thin.svg#PFDinTextCompProThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProLight';
    src: url('../fonts/pfdintextcomppro-light.eot');
    src: url('../fonts/pfdintextcomppro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-light.svg#PFDinTextCompProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensanslight.eot');
    src: url('../fonts/opensanslight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.ttf') format('truetype'),
         url('../fonts/opensanslight.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensansbold.eot');
    src: url('../fonts/opensansbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansbold.woff') format('woff'),
         url('../fonts/opensansbold.ttf') format('truetype'),
         url('../fonts/opensansbold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProMediumItalic';
    src: url('../fonts/pfdintextcomppro-medital.eot');
    src: url('../fonts/pfdintextcomppro-medital.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medital.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medital.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-medital.svg#PFDinTextCompProMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('../fonts/PTSansNarrow-Bold.eot');
    src: url('../fonts/PTSansNarrow-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSansNarrow-Bold.woff') format('woff'),
         url('../fonts/PTSansNarrow-Bold.ttf') format('truetype'),
         url('../fonts/PTSansNarrow-Bold.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProLightItalic';
    src: url('../fonts/pfdintextcomppro-lightital.eot');
    src: url('../fonts/pfdintextcomppro-lightital.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-lightital.woff') format('woff'),
         url('../fonts/pfdintextcomppro-lightital.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-lightital.svg#PFDinTextCompProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCompProItalic';
    src: url('../fonts/PFDinTextCompPro-Italic.eot');
    src: url('../fonts/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinTextCompPro-Italic.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Italic.ttf') format('truetype'),
         url('../fonts/PFDinTextCompPro-Italic.svg#PFDinTextCompProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*other*/
@font-face {
    font-family: 'sans_medium';
    src: url('../fonts/pfdintextcomppro-medium.eot');
    src: url('../fonts/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-medium.svg#sans_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_regular';
    src: url('../fonts/pfdintextcomppro-regular.eot');
    src: url('../fonts/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-regular.svg#sans_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_thin';
    src: url('../fonts/pfdintextcomppro-thin.eot');
    src: url('../fonts/pfdintextcomppro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-thin.svg#sans_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_italic';
    src: url('../fonts/PFDinTextCompPro-Italic.eot');
    src: url('../fonts/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinTextCompPro-Italic.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Italic.ttf') format('truetype'),
         url('../fonts/PFDinTextCompPro-Italic.svg#sans_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans_light';
    src: url('../fonts/pfdintextcomppro-light.eot');
    src: url('../fonts/pfdintextcomppro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-light.svg#sans_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
	font-family: 'sans_medium';
	src: url('../fonts/PFSquareSansPro-Medium.eot');
	src: url('../fonts/PFSquareSansPro-Medium.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Medium.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Medium.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Medium.svg#sans_medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sans_regular';
	src: url('../fonts/PFSquareSansPro-Regular.eot');
	src: url('../fonts/PFSquareSansPro-Regular.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Regular.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Regular.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Regular.svg#sans_regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sans_thin';
	src: url('../fonts/PFSquareSansPro-Thin.eot');
	src: url('../fonts/PFSquareSansPro-Thin.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Thin.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Thin.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Thin.svg#sans_thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'sans_bold';
	src: url('../fonts/PFSquareSansPro-Bold.eot');
	src: url('../fonts/PFSquareSansPro-Bold.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Bold.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Bold.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Bold.svg#sans_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'sans_italic';
	src: url('../fonts/PFSquareSansPro-Italic.eot');
	src: url('../fonts/PFSquareSansPro-Italic.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Italic.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Italic.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Italic.svg#sans_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sans_light';
	src: url('../fonts/PFSquareSansPro-Light.eot');
	src: url('../fonts/PFSquareSansPro-Light.eot?') format('eot'), 
		 url('../fonts/PFSquareSansPro-Light.woff') format('woff'), 
		 url('../fonts/PFSquareSansPro-Light.ttf')  format('truetype'),
		 url('../fonts/PFSquareSansPro-Light.svg#sans_light') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
		 url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
		 url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
		 url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}