* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
a {
	outline:none;
}
img {
	border:none;
}
input:focus, button:focus, textarea:focus, select:focus {
	outline:none;
}
body {
	color:#000;
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	overflow:hidden;
	padding-top:113px;
}
.content-block {
	width:960px;
	margin:0 auto;
}

button {
	border:0;
	cursor:pointer;
}
button:active {
	opacity:0.9;
}
.btn-call {
	width:154px;
	height:28px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#dd5c6f;
	background: -webkit-gradient(linear, top, bottom, from(#f06e82), to(#c24054)); 
	background: -webkit-linear-gradient(#f06e82, #c24054);
	background:    -moz-linear-gradient(#f06e82, #c24054);
	background:     -ms-linear-gradient(#f06e82, #c24054);
	background:      -o-linear-gradient(#f06e82, #c24054);
	background:         linear-gradient(#f06e82, #c24054);
	color:#fff;
	font: 18px/18px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	box-shadow:0 5px 5px rgba(76, 77, 77, 0.65), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.btn-call:hover {
	background:#29ad9b;
	background: -webkit-gradient(linear, top, bottom, from(#40c4b2), to(#269684)); 
	background: -webkit-linear-gradient(#40c4b2, #269684);
	background:    -moz-linear-gradient(#40c4b2, #269684);
	background:     -ms-linear-gradient(#40c4b2, #269684);
	background:      -o-linear-gradient(#40c4b2, #269684);
	background:         linear-gradient(#40c4b2, #269684);
}
.btn-order {
	width:242px;
	height:74px;
	border:2px solid #9ea7b3;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:none;
	color:#9ea7b3;
	font: 18px/28px OpenSansBold, Arial, sans-serif;
}
.btn-order span {
	display:inline-block;
	background:url('../images/add-ico.png') left center no-repeat;
	padding-left:40px;
}
.btn-present {
	width:242px;
	height:74px;
	border:2px solid #ee566d;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#ee566d;
	color:#fff;
	font: 18px/31px OpenSansBold, Arial, sans-serif;
}
.btn-present span {
	display:inline-block;
	background:url('../images/download2-ico.png') left center no-repeat;
	padding-left:40px;
}

h2.hl {
	border-bottom:4px solid #b9b9b9;
	padding-bottom:5px;
	text-align:left;
	font: 36px/36px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	position:relative;
}
h2.hl:before {
	content:'';
	position:absolute;
	bottom:-4px;
	left:0;
	width:108px;
	height:0;
	border-bottom:4px solid #1c7ad5;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background:#fff;
	color:#4f5050;
	text-transform:uppercase;
	position:fixed;
	width:100%;
	height:113px;
	top:0;
	left:0;
	z-index:100;
}
.fx .header {
	top:-74px;
}
.header .phone {
	width:200px;
	float:right;
	text-align:right;
	padding-top:5px;
	font: 30px/30px PFDinTextCompProRegular, Arial, sans-serif;
}
.header .logo {
	width:145px;
	height:54px;
	float:left;
	padding:10px 0 10px 65px;
	font: 42px/54px PFDinTextCompProMedium, Arial, sans-serif;
	background:url('../images/logo.png') left center no-repeat;
	position:relative;
}
.header .logo:after {
	content:'';
	position:absolute;
	top:px;
	right:-2px;
	width:2px;
	height:54px;
	background:#d3d3d3;
}
.header .desc {
	margin-left:230px;
	padding-top:13px;
	font: 24px/24px PFDinTextCompProRegular, Arial, sans-serif;
}
.header .menu {
	clear:both;
	height:37px;
	border-top:1px solid #bcbcbc;
	border-bottom:1px solid #ababab;
	background:#f4f4f4;
	text-align:center;
	font: 18px/37px PFDinTextCompProMedium, Arial, sans-serif;
}
.header .menu ul {
	width:960px;
	margin:0 auto;
	list-style:none;
}
.header .menu li {
	display:inline-block;
	margin:0 15px;
}
.header .menu li a {
	color:#4f5050;
	text-decoration:none;
}
.header .menu li a:hover {
	text-decoration:underline;
}

/* Main
-----------------------------------------------------------------------------*/
.main-block {
	height:965px;
	background:url('../images/main-bg.jpg') 50% 193px no-repeat #323a45;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
.main-block .content-block {
	position:relative;
}
.main-block h1 {
	padding:24px 0 21px;
	font: 36px/30px PFDinTextCompProMedium, Arial, sans-serif;
}
.main-block .offer {
	font: 30px/27px PFDinTextCompProThin, Arial, sans-serif;
	margin-bottom:27px;
}
.main-block .offer2 {
	font: 28px/27px PFDinTextCompProLight, Arial, sans-serif;
}
.main-block .brief {
	position:absolute;
	top:321px;
	right:-94px;
	display:block;
	width:256px;
	height:256px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-khtml-border-radius:50%;
	background:#ee566d;
	color:#fff;
	font: 20px/38px OpenSansLight, Arial, sans-serif;
	text-decoration:none;
	text-transform:none;
	box-shadow:-16px 16px 0 rgba(0, 0, 0, 0.12);
}
.main-block .brief span {
	display:block;
	padding-top:130px;
	font-size:48px;
	background:url('../images/download-ico.png') 50% 59px no-repeat;
}


/* adv-section
-----------------------------------------------------------------------------*/
.adv-section {
	background:#f5f5f5;
	text-align:center;
	padding:30px 0 38px;
	color:#4f5050;
	font: 22px/24px PFDinTextCompProMediumItalic, Arial, sans-serif;
}
.adv-section .arrow-btn {
	background:url('../images/main-arrow.png') 25px -8px no-repeat;
	margin-bottom:30px;
}
.arrow-btn button {
	margin:0 6px;
}
.adv-section .a-ico {
	margin:34px 0 16px;
}
.adv-section .cpc {
	margin-top:8px;
	text-align:left;
	font: 16px/18px PFDinTextCompPro, Arial, sans-serif;
	padding-right:135px;
	background:url('../images/ico-1.png') right center no-repeat;
}

/* table-section
-----------------------------------------------------------------------------*/
.table-section {
	padding:60px 0 15px;
	color:#333;
}
.tb-price {
    width: 100%;
    border-collapse: collapse;
	text-align:center;
}
.tb-price tr td:first-child {
	text-align:left;
}
.tb-price tr:nth-child(2n) {
    background:#fafafa;
}
.tb-price th {
	padding: 0 8px;
	height: 26px;
	background: url('../images/th_bg.png') 0 0 repeat-x #0b0c0c;
	font: bold 12px/20px Arial, sans-serif;
	color: #fff;
}
.tb-price td {
	padding: 12px 8px;
	font: 18px/20px Arial, sans-serif;
	vertical-align: middle;
	border-bottom: 1px solid #e1e1e1;
}
.tb-price td span {
	font-size: 12px;
}
.tb-price .cpc {
	padding-left:60px;
	color:#6eaa50;
	line-height:33px;
}
.tb-price .cpc.ya { background:url('../images/ya.png') left center no-repeat; }
.tb-price .cpc.yagoo { background:url('../images/ya-goo.png') left center no-repeat; }
.table-section .info {
	margin-top:20px;
	background:url('../images/attention.png') left center no-repeat;
	padding-left:52px;
	font: 14px/21px Arial, sans-serif;
}
.table-section a {
	color: #0e73d4;
}
.table-section :hover {
	text-decoration:none;
}


/* step-section
-----------------------------------------------------------------------------*/
.step-section {
	background:#fff;
	padding:60px 0;
	color:#4f5050;
}
.step-section h2.hl {
	color:#4f5050;
	border-color:#f5f5f5;
	margin-bottom:10px;
}
.step-section .item {
	float:left;
	width:305px;
	margin:0 22px 60px 0;
	font: 24px/24px PFDinTextCompProMedium, Arial, sans-serif;
	position:relative;
}
.step-section .item.last {
	margin-right:0;
}
.step-section .item:after {
	content:'';
	position:absolute;
}
.step-section .item.r:after {
	width:23px;
	height:40px;
	top:175px;
	right:-23px;
	background:url('../images/step-arrow3.png') no-repeat;
}
.step-section .item.l:after {
	width:23px;
	height:40px;
	top:175px;
	left:-23px;
	background:url('../images/step-arrow2.png') no-repeat;
}
.step-section .item.b:after {
	width:40px;
	height:23px;
	bottom:-48px;
	left:132px;
	background:url('../images/step-arrow.png') no-repeat;
}
.step-section .item .desc {
	padding-left:34px;
	margin-bottom:5px;
	position:relative;
}
.step-section .item .desc span {
	position:absolute;
	top:50%;
	left:6px;
	margin-top:-11px;
}
.step-section .num {
	display:inline-block;
	width:22px;
	height:22px;
	color:#fff;
	font: 18px/22px Arial, sans-serif;
	text-align:center;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-khtml-border-radius:50%;
}
.step-section .num.g { background:#52be7f; }
.step-section .num.r { background:#b83e22; }
.step-section .num.b { background:#1c7ad5; }
.step-section .desc2 {
	clear:both;
	text-align:center;
	height:31px;
	background:#f5f4f6;
	border:1px solid #d2d2d2;
	color:#000;
	font: 14px/31px Arial, sans-serif;
	margin-bottom:40px;
}
.step-section .desc2 span {
	margin:0 5px;
	vertical-align:middle;
}
.step-section .arrow-btn {
	background:url('../images/main-arrow2.png') 147px -8px no-repeat;
	text-align:center;
}
.step-section .arrow-btn img {
	margin-top:55px;
}


/* result-section
-----------------------------------------------------------------------------*/
.result-section {
	background:#fff;
	padding-bottom:90px;
	color:#4f5050;
	margin-bottom:90px;
	border-bottom:1px dashed #929292;
}
.result-section .content-block:after {
	content:'';
	clear:both;
	display:table;
}
.result-section h3 {
	color:#4f5050;
	font: 24px/24px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:25px;
}
.result-section .result {
	color:#ff3b3b;
	font: 30px/30px PFDinTextCompProRegular, Arial, sans-serif;
	margin-bottom:35px;
}
.result-section .pic {
	float:left;
	width:577px;
}
.result-section .pic span {
	display:block;
	margin-top:20px;
	border:1px dashed #ff3c3c;
	height:60px;
	color:#ff3b3b;
	font: 30px/60px PFDinTextCompProLight, Arial, sans-serif;
	text-align:center;
}
.result-section .desc {
	margin-left:650px;
	padding-right:10px;
	color:#252525;
	font: 20px/24px PFDinTextCompProMedium, Arial, sans-serif;
}
.result-section .desc span {
	color:#ff3c3c;
}
.result-section .desc .pr {
	width:120px;
	padding:0 12px;
	display:inline-block;
	vertical-align:top;
}
.result-section .desc .pr .c {
	display:block;
	height:116px;
	margin-bottom:5px;
	text-align:center;
	font: 30px/116px PFDinTextCompProMedium, Arial, sans-serif;
	background:url('../images/result-c.jpg') center top no-repeat;
}
.result-section .desc .pr2 .c {
	background:url('../images/result-c2.jpg') center top no-repeat;
}
.result-section .desc .b2 {
	margin-top:20px;
	padding:5px 0;
	line-height:36px;
	text-align:center;
	border-top:1px dashed #929292;
	border-bottom:1px dashed #929292;
}
.result-section .desc .b3 {
	padding:5px 0;
	line-height:48px;
	text-align:center;
}
.result-section .desc .b3 span {
	display:block;
	font-size:30px;
}
.result-section .desc button {
	width:300px;
	height:60px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#ff3b3c;
	color:#fff;
	font: 30px/30px PFDinTextCompProLight, Arial, sans-serif;
}


/* how-work-section
-----------------------------------------------------------------------------*/
.how-work-section {
	background:#fff;
	padding:30px 0 85px;
	color:#575858;
	margin-bottom:90px;
}
.how-work-section h2 {
	padding-left:10px;
	font: 36px/36px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:44px;
}
.how-work-section .bline {
	width:560px;
	border:1px dashed #494949;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	padding:15px 25px 25px;
	font: 16px/22px PFDinTextCompPro, Arial, sans-serif;
	margin-bottom:95px;
	position:relative;
}
.how-work-section .bline.r {
	margin-left:346px;
}
.how-work-section .bline:before {
	content:'';
	position:absolute;
}
.how-work-section .bline.bl-1:before {
	width:297px;
	height:274px;
	top:0;
	right:-340px;
	background:url('../images/coub.jpg') no-repeat;
}
.how-work-section .bline.bl-2:before {
	width:286px;
	height:358px;
	top:-40px;
	left:-310px;
	background:url('../images/pencil.jpg') no-repeat;
}
.how-work-section .bline.bl-3:before {
	width:345px;
	height:277px;
	top:-40px;
	right:-350px;
	background:url('../images/abc.jpg') no-repeat;
}
.how-work-section .bline.bl-4:before {
	width:341px;
	height:334px;
	top:-33px;
	left:-348px;
	background:url('../images/tablet.jpg') no-repeat;
}
.how-work-section .steps {
	height:564px;
	background:url('../images/steps.jpg') center top no-repeat;
	margin-bottom:270px;
	font: 18px/22px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	position:relative;
}
.how-work-section .steps:after {
	content:'';
	position:absolute;
	width:100%;
	height:134px;
	bottom:-170px;
	left:0;
	background:url('../images/steps-bottom.png') center top no-repeat;
}
.how-work-section .steps .n {
	position:absolute;
	left:0;
	width:100%;
	color:#fff;
	text-align:center;
}
.how-work-section .steps .n.n1 { top:150px; }
.how-work-section .steps .n.n2 { top:265px; }
.how-work-section .steps .n.n3 { top:388px; }
.how-work-section .steps .n.n4 { top:496px; }
.how-work-section .steps .d {
	position:absolute;
	width:225px;
}
.how-work-section .steps .d.d1 { top:97px; right:-15px; }
.how-work-section .steps .d.d2 { top:96px; left:26px; }
.how-work-section .steps .d.d3 { top:432px; right:-47px; }
.how-work-section .steps .d.d4 { top:454px; left:45px; }


/* analiz-section
-----------------------------------------------------------------------------*/
.analiz-section {
	background:#ff3b3b;
	padding:47px 0 96px;
	color:#fff;
	font: 24px/28px PFDinTextCompProLight, Arial, sans-serif;
	border-bottom:2px solid #fff;
}
.analiz-section h2 {
	font: 60px/72px PFDinTextCompProLight, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:13px;
}
.analiz-section form {
	margin-top:32px;
}
.analiz-section label {
	margin-right:20px;
}
.analiz-section input[type=text] {
	width:302px;
	height:64px;
	border:1px solid #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#fff;
	color:#252525;
	text-align:center;
	font: 24px/24px PFDinTextCompProLight, Arial, sans-serif;
	text-transform:uppercase;
}
.analiz-section input[type=text].ierror {
	border-color:#000;
	color:red;
}
.analiz-section button {
	width:300px;
	height:62px;
	border:2px solid #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:none;
	color:#fff;
	font: 24px/24px PFDinTextCompProLight, Arial, sans-serif;
	text-transform:uppercase;
}
.analiz-section button:hover {
	border-color:#fc1010;
	background:#fc1010;
}


/* portfolio-section
-----------------------------------------------------------------------------*/
.portfolio-section {
	background:url('../images/adding-bg.jpg') repeat;
	padding:15px 0 54px;
	color:#fff;
	text-align:center;
}
.portfolio-section h2 {
	width:300px;
	height:38px;
	font: 18px/38px PFDinTextCompProRegular, Arial, sans-serif;
	text-transform:uppercase;
	border:2px solid #fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	margin:0 auto 38px;
}
.portfolio-section h2 a {
	color:#fff;
}
.portfolio-section h2 a:hover {
	text-decoration:none;
}
.portfolio-section h2 a.active {
	text-decoration:none;
}
.portfolio-section .tab {
	display:none;
}
.portfolio-section .tab.active {
	display:block;
}
.portfolio-section .item {
	display:block;
	float:left;
	width:300px;
	height:300px;
	margin:0 10px 20px;
	text-decoration:none;
	position:relative;
}
.portfolio-section .item .desc {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#666;
	background:rgba(0, 0, 0, 0.7);
	border:10px solid #fff;
	opacity:0;
	padding-top:145px;
	text-align:center;
	color:#fff;
	font: 18px/22px PFDinTextCompProRegular, Arial, sans-serif;
	-webkit-transition: all 400ms ease 0s;
	-moz-transition: all 400ms ease 0s;
	-ms-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	transition: all 400ms ease 0s;
}
.portfolio-section .item:hover .desc span {
	display:block;
	position:absolute;
	bottom:50%;
	left:0;
	width:100%;
	font: 24px/28px PFDinTextCompProMedium, Arial, sans-serif;
}
.portfolio-section .item:hover .desc span:after {
	content:'';
	display:block;
	margin:5px auto 0;
	width:50px;
	height:5px;
	background:#fff;
}
.portfolio-section .item:hover .desc {
	opacity:1;
}
.portfolio-section .item:hover img {
	width:280px;
	height:280px;
	margin:10px;
}
.portfolio-section .arrow-btn {
	clear:both;
	padding-top:20px;
	background:url('../images/main-arrow3.png') 12px 20px no-repeat;
}
.portfolio-section .arrow-btn button {
	width:500px;
	height:74px;
	border:2px solid #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:none;
	color:#fff;
	font: 24px/28px PFDinTextCompProRegular, Arial, sans-serif;
	text-transform:uppercase;
}
.portfolio-section .arrow-btn button span {
	display:inline-block;
	background:url('../images/add-ico.png') left center no-repeat;
	padding-left:40px;
}

/* about-section
-----------------------------------------------------------------------------*/
.about-section {
	background:#fff;
	padding:28px 0 60px;
	font: 16px/24px PFDinTextCompPro, Arial, sans-serif;
}
.about-section h2.hl {
	color:#4f5050;
	border-color:#f5f5f5;
	margin-bottom:10px;
}
.about-section span {
	font-family:PFDinTextCompPro, Arial, sans-serif;
}
.about-section .r {
	text-align:right;
}


/* team-section
-----------------------------------------------------------------------------*/
.team-section {
	background:url('../images/team-bg.jpg') repeat;
	padding:53px 0 20px;
	text-align:center;
	font: 18px/22px PFDinTextCompProMedium, Arial, sans-serif;
}
.team-section .content-block:after {
	content:'';
	clear:both;
	display:table;
}
.team-section .item {
	width:180px;
	float:left;
	margin-right:210px;
}
.team-section .item.last {
	margin-right:0;
}
.team-section .item img {
	display:block;
	margin:0 auto 5px;
}
.team-section .item u {
	display:block;
	color:#0e73d4;
	font-family: PFDinTextCompProRegular, Arial, sans-serif;
	text-decoration:underline;
}


/* clients-section
-----------------------------------------------------------------------------*/
.clients-section {
	background:#fff;
	padding:35px 0 20px;
	text-align:center;
	border-bottom:1px solid #cfd0d1;
}
.clients-section .content-block {
	position:relative;
}
.clients-section h2.hl {
	color:#4f5050;
	border-color:#f5f5f5;
	margin-bottom:15px;
}
.clients-section .sl-arrow, .clients-section .sr-arrow {
	position:absolute;
	top:22px;
	width:8px;
	height:13px;
	cursor:pointer;
}
.clients-section .sl-arrow {
	right:17px;
	background:url('../images/sl-arrow.png') no-repeat;
}
.clients-section .sr-arrow {
	right:0;
	background:url('../images/sr-arrow.png') no-repeat;
}
.clients-section .sl-arrow:hover, .clients-section .sr-arrow:hover {
	opacity:0.7;
}
.clients-section .slider .i {
	width:960px;
	height:130px;
	line-height:130px;
}
.clients-section .slider .i img {
	vertical-align:middle;
}


/* giftform-section
-----------------------------------------------------------------------------*/
.giftform-section {
	background:url('../images/adding-bg.jpg') repeat;
	padding-bottom:120px;
}
.giftform-section .content-block:after {
	content:'';
	clear:both;
	display:table;
}
.form-block {
	width:460px;
	padding:20px 0 10px;
	background:#fff;
	color:#000;
	text-align:center;
	font: 18px/18px PFDinTextCompProItalic, Arial, sans-serif;
}
.form-block h3 {
	font: 36px/36px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:10px;
}

.form-block form {
	margin-top:40px;
}
.form-block label {
	display:block;
	width:405px;
	margin:0 auto 20px;
}
.form-block label span {
	display:block;
	font:18px/18px PFDinTextCompProRegular, Arial, sans-serif;
	margin-bottom:6px;
	text-align:left;
}
.form-block input[type=text] {
	width:383px;
	height:54px;
	padding:0 10px;
	border:1px solid #eee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#fff;
	color:#000;
	font: 24px/24px PFDinTextCompProLight, Arial, sans-serif;
}
.form-block input[type=text].ierror {
	border-color:red;
}
.form-block button {
	width:405px;
	height:80px;
	border:0;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#ee566d;
	color:#fff;
	font: 36px/36px PFDinTextCompProMedium, Arial, sans-serif;
}
.form-block button span {
	display:inline-block;
	background:url('../images/download2-ico.png') left center no-repeat;
	padding-left:77px;
}
.form-block button:hover {
	background:#e91b3a;
}
.giftform-section .form-block {
	float:right;
	margin-top:77px;
	position:relative;
}
.giftform-section .form-block:before {
	content:'';
	position:absolute;
	bottom:-74px;
	left:-75px;
	width:197px;
	height:123px;
	background:url('../images/form-arrow.png') no-repeat;
}
.giftform-section .desc {
	text-align:center;
	padding-top:380px;
	background:url('../images/3gift.png') 70px 10px no-repeat;
}
.giftform-section .desc h2 {
	color:#fff;
	font: 36px/40px PFDinTextCompProMedium, Arial, sans-serif;
	letter-spacing:-1px;
}
.giftform-section .desc h2 span {
	color:#ff0000;
}
.counter {
	color:#040404;
}
.counter h3 {
	color:#ff0000;
	font: 18px/25px PFDinTextCompProMedium, Arial, sans-serif;
}
.counter .num {
	display:inline-block;
	vertical-align:middle;
	width:79px;
	height:79px;
	border:1px solid #b0b1b3;
	background:#fff;
	font: 18px/5px PFDinTextCompProMedium, Arial, sans-serif;
}
.counter .num span {
	display:block;
	font: 72px/68px PFDinTextCompProMedium, Arial, sans-serif;
}
.counter .sep {
	display:inline-block;
	vertical-align:middle;
	width:15px;
	color:#fff;
	font: 48px/48px PFDinTextCompProMedium, Arial, sans-serif;
}
.counter .num.s { color:#ff0000; }


/* responds-section
-----------------------------------------------------------------------------*/
.responds-section {
	background:url('../images/respond-bg.jpg') repeat;
	padding:65px 0 10px;
	font: 22px/22px PFDinTextCompProRegular, Arial, sans-serif;
}
.responds-section .item {
	background:#ffffe7;
	padding:0 70px 50px 20px;
	box-shadow:0 3px 12px rgba(0, 1, 1, 0.3);
	margin-bottom:50px;
}
.responds-section .item:after {
	content:'';
	clear:both;
	display:table;
}
.responds-section .item .pic {
	float:left;
	width:155px;
	text-align:center;
	padding-top:65px;
}
.responds-section .item .pic img {
	margin-bottom:7px;
}
.responds-section .item .desc {
	margin-left:170px;
	line-height:24px;
}
.responds-section .item .desc .details {
	padding:34px 0 34px 15px;
	border-bottom:2px solid #d9d9ba;
	font-size:20px;
	margin-bottom:20px;
}
.responds-section .item .desc .details > div {
	display:inline-block;
	padding:0 25px 0 33px;
}
.responds-section .item .desc .details .site { background:url('../images/r-ico-1.png') left center no-repeat; }
.responds-section .item .desc .details .name { background:url('../images/r-ico-2.png') left center no-repeat; }
.responds-section .item .desc .details .order { background:url('../images/r-ico-3.png') left center no-repeat; }
.responds-section .item .desc .details .site a {
	color:#ee566d;
	font: 20px/22px PFDinTextCompProMedium, Arial, sans-serif;
}
.responds-section .item .desc .details .site a:hover {
	text-decoration:none;
}
.responds-section .item.v {
	padding:34px 0 50px 0;
	text-align:center;
}
.responds-section .item.v iframe {
	margin:0 10px;
}
.responds-section .item.v h2 {
	color: #575858;
    font: 36px/36px PFDinTextCompProMedium,Arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* adding-section
-----------------------------------------------------------------------------*/
.adding-section {
	background:url('../images/adding-bg.jpg') repeat;
	text-align:center;
	padding:18px 0 55px;
	color:#4f5050;
	font: 22px/24px PFDinTextCompProMediumItalic, Arial, sans-serif;
}
.adding-section:after {
	content:'';
	clear:both;
	display:table;
}
.adding-section h2.hl {
	color:#fff;
	font-family:PTSansNarrowBold, Arial, sans-serif;
	text-transform:none;
	border-color:#f5f5f5;
	margin-bottom:35px;
}
.adding-section .item {
	width:160px; /*150*/
	height:235px;
	float:left;
	/*padding:20px 5px 50px;*/
	padding-bottom:50px;
	background:#fff;
	border-bottom:1px solid #a0a1a3;
	color:#4b4b4b;
	font: 24px/24px PFDinTextCompProRegular, Arial, sans-serif;
	margin-right:40px;
	position:relative;
}
.adding-section .item.last {
	margin-right:0;
}
.adding-section .item img {
	display:block;
	margin:0 auto 10px;
}
/*
.adding-section .item .more {
	position:absolute;
	bottom:12px;
	left:0;
	width:100%;
}
*/
.adding-section .item .btn {
    width: 108px;
    height: 29px;
    margin: 0px auto 0px -54px;
    position: absolute;
    bottom: 12px;
    left: 50%;
	text-decoration:none;
	font-size: 18px;
}
/*
.adding-section .item .more a {
	display:inline-block;
	width:142px;
	height:32px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	background:#42b3a4;
	background: -webkit-gradient(linear, top, bottom, from(#58c9ba), to(#2b9b8c)); 
	background: -webkit-linear-gradient(#58c9ba, #2b9b8c);
	background:    -moz-linear-gradient(#58c9ba, #2b9b8c);
	background:     -ms-linear-gradient(#58c9ba, #2b9b8c);
	background:      -o-linear-gradient(#58c9ba, #2b9b8c);
	background:         linear-gradient(#58c9ba, #2b9b8c);
	color:#fff;
	font: 22px/32px PFDinTextCompProRegular, Arial, sans-serif;
	box-shadow:0 5px 5px rgba(76, 77, 77, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	text-decoration:none;
}
.adding-section .item .more a:hover {
	background:#29d0b9;
	background: -webkit-gradient(linear, top, bottom, from(#66edda), to(#26bba4)); 
	background: -webkit-linear-gradient(#66edda, #26bba4);
	background:    -moz-linear-gradient(#66edda, #26bba4);
	background:     -ms-linear-gradient(#66edda, #26bba4);
	background:      -o-linear-gradient(#66edda, #26bba4);
	background:         linear-gradient(#66edda, #26bba4);
}
*/


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height:142px;
	background:#fff;
	color:#626262;
}
.footer span {
	color:#e30e1f;
}
/*
.footer .made {
	float:right;
	text-align:center;
	padding:44px 10px 0 0;
	width:190px;
}
*/
.footer .logo {
	width:145px;
	/*height:54px;*/
	float:right;
	padding:44px 0 0 65px;
	font: 42px/54px PFDinTextCompProMedium, Arial, sans-serif;
	background:url('../images/logo.png') 0 44px no-repeat;
	position:relative;
}
.footer .phone {
	float:left;
	width:220px;
	padding:45px 0 0 10px;
	font: 33px/33px PFDinTextCompProMedium, Arial, sans-serif;
}
.footer .phone .skype {
	font: 24px/29px Arial, sans-serif;
	margin-top:10px;
	padding-left:35px;
	background:url('../images/skype-ico.png') left center no-repeat;
}
.footer .phone .skype a {
	color:#626262;
}
.footer .phone .skype a:hover {
	text-decoration:none;
}
.footer .address {
	margin-left:200px;
	text-align:center;
	padding-top:51px; /*61*/
	font: 18px/20px PFDinTextCompProMedium, Arial, sans-serif;
	text-transform:uppercase;
}
.footer .address .social-btn {
	margin-top:10px;
}
.footer .address .social-btn span {
	color:#fff;
}

/* modal
-----------------------------------------------------------------------------*/

.btn {
	text-align: center;
	position: relative;
	cursor: pointer;
	border: 1px solid #ffee31;
	border-radius: 8px;
	font-family: 'sans_regular';
	font-size: 16px;
	color: #000;
	line-height: 30px;
	text-shadow: 0 1px 0 #ffdf31;
	background: rgb(255,204,3);
	background: -moz-linear-gradient(top,  rgba(255,204,3,1) 0%, rgba(255,165,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,3,1)), color-stop(100%,rgba(255,165,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
}

.btn:hover {
	background: rgb(255,224,3);
	background: -moz-linear-gradient(top,  rgba(255,224,3,1) 0%, rgba(255,185,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,224,3,1)), color-stop(100%,rgba(255,185,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
}

.btn:active {
	background: rgb(255,185,3);
	background: -moz-linear-gradient(top,  rgba(255,185,3,1) 0%, rgba(255,224,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,185,3,1)), color-stop(100%,rgba(255,224,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,185,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
}

.btn:before {
	width: inherit;
	height: inherit;
	padding: 1px;
	border: 1px solid #fc930b;
	position: absolute;
	left: -2px;
	top: -2px;
	content: '';
	border-radius: 9px;
}

.btn:after {
	width: 96%;
	height: 5px;
	position: absolute;
	left: 50%;
	margin-left: -48%;
	bottom: 6px;
	content: '';
	display: block;
	z-index: -1;
	border-radius: 5px;
	box-shadow: 0 10px 10px #81523f;
	background: none;
}

.btn:hover {
	cursor: pointer;
}

.popup_overlay {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
	background-color: rgba(26,54,72,0.95);
}
.popup {
	position: fixed;
	display: none;
	z-index: 1100;
	padding: 30px;
	background-color: #fff;
	left: 50%;
	top: 50%;
}

#thx .btn, #present-success .btn, #brief-success .btn {
    width: 250px;
    margin: 0px auto;
}
#present-success a, #brief-success a {
	text-decoration:none;
}
.popup {
	background-color: #e5e5e5;
}
.popup label {
	display:inline-block;
	position:relative;
}
.popup label .desc {
	position: absolute;
	left: 0px;
	top: -20px;
	font-family: 'sans_regular';
	font-size: 16px;
	color: #000;
	line-height: 19px;
	width: 200px;
	text-align: left;
}
.popup input[type="text"] {
	width: 403px;
	height: 52px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 24px;
	font-family: 'sans_regular';
	line-height: 30px;
	color: #000;
}
.popup input[type="text"].ierror {
	border-color:red;
} 
.popup .name {
	margin-bottom: 48px;
}
.popup .email {
	margin-bottom: 38px;
}
.popup .phone {
	text-align: center;
	margin-bottom: 30px;
}
.popup .btn {
	width: 402px;
	height: 49px;
	font-size: 24px;
	line-height: 50px;
}
.popup_h1 {
	font-size: 35px;
	font-family: 'sans_bold';
	color: #2f2f30;
	text-align: center;
	line-height: 38px;
	margin-bottom: 15px;
}
.popup_h2 {
	font-family: 'sans_regular';
	font-size: 18px;
	color: #676767;
	line-height: 19px;
	text-align: center;
	margin-bottom: 35px;
}
.popup_close {
	position: absolute;
	right: -30px;
	top: -30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #e5e5e5 url('../images/lp/close.png') center center no-repeat;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.popup .descr {
	font-family: 'sans_regular';
	font-size: 18px;
	color: #848484;
	line-height: 19px;
	text-align: center;
	margin-top: 20px;
}
.popup .descr span {
	font-family: 'sans_medium';
}
.popup:after {
	width: 100%;
	height: 39px;
	position: absolute;
	bottom: -39px;
	left: 0px;
	content: '';
	background: url('../images/lp/popup_shadow.png') center center no-repeat;
}
.popup form {
	width: 405px;
	margin: 0 auto;
}


.popup.with_text {
	padding: 0px;
	background-color: #fff;
}
.popup.with_text:after {
	width: 100%;
	height: 38px;
	position: absolute;
	bottom: -38px;
	left: 0px;
	content: '';
	background: url('../images/lp/popup_shadow2.png') center center no-repeat;
}
.popup.with_text .with_text_right {
	float: right;
	padding: 30px 30px 30px 30px;
	background-color: #e5e5e5;
}
.popup.with_text .with_text_left {
	float: left;
	height: inherit;
	width: 495px;
	background-color: #fff;
	padding: 55px 0 0 40px;
	position: relative;
}
.popup.with_text .h1 {
	font-family: 'sans_bold';
	font-size: 38px;
	line-height: 41px;
	color: #4f5050; /*#053763;*/
	position: relative;
	margin: 0 0 25px 0; /*margin: 0 0 25px 20px;*/
}
/*
.popup.with_text .h1:after {
	position: absolute;
	width: 7px;
	height: 26px;
	background-color: #009ae1;
	left: -19px;
	top: 7px;
	content: '';
}
*/
.popup.with_text .text {
	padding: 15px 0 15px 25px;
	border: 4px solid #4f5050;
	font-family: 'sans_regular';
	font-size: 21px;
	color: #4f5050; /*#053763;*/
	line-height: 19px;
	max-width: 380px;
	position: relative;
	z-index: 13;
	background-color: #fff;
}
.popup.with_text .text span {
	font-family: 'sans_medium';
}
.popup.with_text .text p {
	margin-bottom: 20px;
}
.popup.with_text .text p:last-child {
	margin-bottom: 0px;
}
.popup.with_text .text:before {
	position: absolute;
	left: 14px;
	bottom: -30px;
	content: ''; 
	border-top: 26px solid #4f5050;
	border-right: 28px solid transparent;
}
.popup.with_text .text:after {
	position: absolute;
	left: 18px;
	bottom: -20px;
	content: '';
	border-top: 21px solid #fff;
	border-right: 23px solid transparent;
}
.popup.with_text .descrs {
	margin: 40px 0 27px 0;
	height: 50px;
	/*background: url('../images/lp/popup_photos.jpg') 0px 0px no-repeat; */
	background: url('../images/lp/popup_photo1.jpg') 0px 0px no-repeat;  /*photos!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	padding: 12px 0 0 70px;
	font-family: 'sans_regular';
	font-size: 14px;
	color: #4f5050; /* #053763;*/
	line-height: 17px;
	text-align: left;
}
.popup.with_text .descrs span {
	font-family: 'sans_medium';
	font-size: 16px;
}
.popup.with_text .icons {
	z-index: 12;
	position: absolute;
}
.popup.with_text .arrow {
	z-index: 14;
	position: absolute;
}
.popup.with_text#with_text1 .icons {
	width: 150px;
	height: 105px;
	/*background: url('../images/lp/popup_icon1.png') no-repeat;*/
	background: url('../images/lp/popup_icon1-1.png') no-repeat;
	left: 320px;
	top: 25px;
}

/*
.popup.with_text#with_text2 .icons {
	width: 127px;
	height: 91px;
	background: url('../img/popup_icon2.png') no-repeat;
	left: 350px;
	top: 60px;
}
.popup.with_text#with_text3 .h1,
.popup.with_text#with_text5 .h1,
.popup.with_text#with_text6 .h1,
.popup.with_text#with_text8 .h1,
.popup.with_text#with_text4 .h1 {
	font-size: 33px;
	line-height: 36px;
}
.popup.with_text#with_text3 .icons {
	width: 128px;
	height: 110px;
	background: url('../img/popup_icon3.png') no-repeat;
	left: 360px;
	top: 40px;
}
.popup#with_text5 .with_text_left,
.popup#with_text7 .with_text_left,
.popup#with_text8 .with_text_left,
.popup#with_text4 .with_text_left {
	padding-top: 30px;
}
.popup#with_text3 .descrs,
.popup#with_text5 .descrs {
	background: url('../img/popup_photos.jpg') 0px -62px no-repeat;
}
.popup.with_text#with_text5 .icons {
	width: 124px;
	height: 98px;
	background: url('../img/popup_icon4.png') no-repeat;
	left: 315px;
	top: 92px;
}
.popup#with_text6 .descrs {
	background: url('../img/popup_photos.jpg') 0px -124px no-repeat;
}
.popup#with_text7 .descrs {
	background: url('../img/popup_photos.jpg') 0px -186px no-repeat;
}
.popup#with_text8 .descrs {
	background: url('../img/popup_photos.jpg') 0px -248px no-repeat;
}
.popup#with_text4 .descrs {
	background: url('../img/popup_photos.jpg') 0px -310px no-repeat;
}
.popup.with_text#with_text6 .icons {
	width: 158px;
	height: 112px;
	background: url('../img/popup_icon5.png') no-repeat;
	left: 300px;
	top: 65px;
}
.popup.with_text#with_text7 .icons {
	width: 130px;
	height: 165px;
	background: url('../img/popup_icon6.png') no-repeat;
	left: 310px;
	top: 35px;
}
.popup.with_text#with_text8 .icons {
	width: 126px;
	height: 134px;
	background: url('../img/popup_icon7.png') no-repeat;
	left: 320px;
	top: 35px;
}
.popup.with_text#with_text4 .icons {
	width: 125px;
	height: 163px;
	background: url('../img/popup_icon8.png') no-repeat;
	left: 320px;
	top: 30px;
}
*/
.popup.with_text#with_text1 .arrow {
	width: 202px;
	height: 122px;
	position: absolute;
	z-index: 14;
	left: 350px;
	top: 420px;
	background: url('../images/lp/arrow1.png') no-repeat;
}
/*
.popup.with_text#with_text2 .arrow {
	width: 210px;
	height: 145px;
	position: absolute;
	z-index: 14;
	left: 340px;
	top: 390px;
	background: url('../img/arrow2.png') no-repeat;
}
.popup.with_text#with_text3 .arrow {
	width: 235px;
	height: 96px;
	position: absolute;
	z-index: 14;
	left: 320px;
	top: 470px;
	background: url('../img/arrow3.png') no-repeat;
}
.popup.with_text#with_text4 .arrow {
	width: 159px;
	height: 60px;
	position: absolute;
	z-index: 14;
	left: 390px;
	top: 500px;
	background: url('../img/arrow8.png') no-repeat;
}
.popup.with_text#with_text5 .arrow {
	width: 235px;
	height: 95px;
	position: absolute;
	z-index: 14;
	left: 320px;
	top: 470px;
	background: url('../img/arrow4.png') no-repeat;
}
.popup.with_text#with_text6 .arrow {
	width: 210px;
	height: 145px;
	position: absolute;
	z-index: 14;
	left: 340px;
	top: 390px;
	background: url('../img/arrow5.png') no-repeat;
}
.popup.with_text#with_text7 .arrow {
	width: 192px;
	height: 100px;
	position: absolute;
	z-index: 14;
	left: 360px;
	top: 440px;
	background: url('../img/arrow6.png') no-repeat;
}
.popup.with_text#with_text8 .arrow {
	width: 192px;
	height: 100px;
	position: absolute;
	z-index: 14;
	left: 360px;
	top: 440px;
	background: url('../img/arrow6.png') no-repeat;
}
*/

.popup#present-success, .popup#brief-success {
	margin-top:-109px;
	margin-left: -291px;
}
.popup#present, .popup#brief {
	margin-top:-270px;
	margin-left: -232px;
}
.popup#thx {
	margin-top:-109px;
	margin-left: -291px;
}
.popup#callback {
	margin-top:-270px;
	margin-left: -232px;
}
.popup.with_text {
	margin-top: -315px;
	margin-left: -500px;
}


/* btn top
------------------------------------------------------------*/
@-webkit-keyframes g1_vertical_loop { 0% { -webkit-transform: translate(0, 0); }
  50% { -webkit-transform: translate(0, -50%); }
  50.01% { -webkit-transform: translate(0, 50%); }
  100% { -webkit-transform: translate(0, 0); } 
}

@-moz-keyframes g1_vertical_loop { 0% { -moz-transform: translate(0, 0); }
  50% { -moz-transform: translate(0, -50%); }
  50.01% { -moz-transform: translate(0, 50%); }
  100% { -moz-transform: translate(0, 0); }
}

@-o-keyframes g1_vertical_loop { 0% { -o-transform: translate(0, 0); }
  50% { -o-transform: translate(0, -50%); }
  50.01% { -o-transform: translate(0, 50%); }
  100% { -o-transform: translate(0, 0); }
}

@keyframes g1_vertical_loop { 0% { transform: translate(0, 0); }
  50% { transform: translate(0, -50%); }
  50.01% { transform: translate(0, 50%); }
  100% { transform: translate(0, 0); }
}
#g1-back-to-top {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 999;
	text-indent: 100%;
	white-space: nowrap;
	background: #000000;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	text-decoration:none;
}
#g1-back-to-top:before {
	width: 100%;
	height: 28px;
	margin-top: -14px;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	text-indent: 0;
	text-align: center;
	font: 28px/28px FontAwesome;
	content: "\f106";
}
#g1-back-to-top:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: 0.75;
}
#g1-back-to-top.g1--off { display: none; }

#g1-back-to-top:hover:before {
	-webkit-animation: g1_vertical_loop 0.35s ease-in-out;
	-moz-animation: g1_vertical_loop 0.35s ease-in-out;
	-o-animation: g1_vertical_loop 0.35s ease-in-out;
	animation: g1_vertical_loop 0.35s ease-in-out;
}

@media only screen and (max-width: 768px) {
	#g1-back-to-top { width: 32px; height: 32px; }
}
.cssanimations #g1-back-to-top {
	display: block;
	visibility: visible;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: -webkit-transform 0.35s ease-in-out;
	-moz-transition: -moz-transform 0.35s ease-in-out;
	-o-transition: -o-transform 0.35s ease-in-out;
	transition: transform 0.35s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.cssanimations #g1-back-to-top.g1--off {
	visibility: hidden;
	-webkit-transform: translate(0px, 80px);
	-moz-transform: translate(0px, 80px);
	-ms-transform: translate(0px, 80px);
	-o-transform: translate(0px, 80px);
	transform: translate(0px, 80px);

	-webkit-transition: visibility 0s, -webkit-transform 0.35s ease-in-out;
	-webkit-transition-delay: 0.35s, 0s;
	
	/*-webkit-transition: visibility 0s 0.35s, -webkit-transform 0.35s ease-in-out;*/
	-moz-transition: visibility 0s 0.35s, -moz-transform 0.35s ease-in-out;
	-o-transition: visibility 0s 0.35s, -o-transform 0.35s ease-in-out;
	transition: visibility 0s 0.35s, transform 0.35s ease-in-out;
}


.callback-phone {
  display: none;
  position: fixed;
  z-index: 200;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(o);
  width: 150px !important;
  height: 150px !important;
  bottom: 40px;
  right: 30px; }
.callback-phone:hover .phone_ {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  z-index: 200 !important; }
.callback-phone .double_border {
  border: 3px solid #fff3d5;
  position: absolute;
  z-index: 100;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc); }
@-webkit-keyframes circleb {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 15px;
    border: 3px solid rgba(255, 243, 213, 0); } }
.callback-phone .vc {
  width: 150px;
  height: 150px; }
.callback-phone .vc .c {
  position: absolute;
  margin-top: 44px;
  margin-left: 44px; }
.callback-phone .phone {
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  border: 3px solid #fff3d5;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);
  z-index: 500;
  width: 63px;
  height: 63px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
@-webkit-keyframes circlea {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 25px;
    border: 3px solid rgba(255, 243, 213, 0); } }
@-moz-keyframes circlea {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 25px;
    border: 3px solid rgba(255, 243, 213, 0); } }
@-ms-keyframes circlea {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 25px;
    border: 3px solid rgba(255, 243, 213, 0); } }
@-o-keyframes circlea {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 25px;
    border: 3px solid rgba(255, 243, 213, 0); } }
@keyframes {
  0% {
    padding: 0;
    border: 3px solid rgba(255, 243, 213, 0.9); }
  100% {
    padding: 25px;
    border: 3px solid rgba(255, 243, 213, 0); } }
@-webkit-keyframes circleb {
  10% {
    padding: 0;
    opacity: 0; }
  50% {
    padding: 15px;
    opacity: 1; }
  100% {
    padding: 0;
    opacity: 0; } }
@-moz-keyframes circleb {
  10% {
    padding: 0;
    opacity: 0.5; }
  50% {
    padding: 15px;
    opacity: 1; }
  100% {
    padding: 0;
    opacity: 0.5; } }
@-ms-keyframes circleb {
  10% {
    padding: 0;
    opacity: 0.5; }
  50% {
    padding: 15px;
    opacity: 1; }
  100% {
    padding: 0;
    opacity: 0.5; } }
@-o-keyframes circleb {
  10% {
    padding: 0;
    opacity: 0.5; }
  50% {
    padding: 15px;
    opacity: 1; }
  100% {
    padding: 0;
    opacity: 0.5; } }
@keyframes {
  10% {
    padding: 0;
    opacity: 0.5; }
  50% {
    padding: 15px;
    opacity: 1; }
  100% {
    padding: 0;
    opacity: 0.5; } }
.callback-phone .border {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
  background: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #c1c1c1;
  overflow: hidden; }
.callback-phone .phone_ {
  width: 63px;
  position: absolute;
  top: 0;
  left: 0;
  height: 63px;
  background: url("../images/phone.png") center center no-repeat;
  z-index: 500;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }
.callback-phone .animation2 {
  -webkit-animation: circleb 2.5s infinite;
  -moz-animation: circleb 2.5s infinite;
  -ms-animation: circleb 2.5s infinite;
  -o-animation: circleb 2.5s infinite;
  animation: circleb 2.5s infinite; }
.callback-phone .animation {
  -webkit-animation: circlea 2.5s infinite;
  -moz-animation: circlea 2.5s infinite;
  -ms-animation: circlea 2.5s infinite;
  -o-animation: circlea 2.5s infinite;
  animation: circlea 2.5s infinite;
  -webkit-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease; }
.callback-phone .tooltip {
  /*opacity: 0;*/
  display: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #000;
  /* layer fill content */
  padding-left: 25px;
  z-index: -1;
  height: 52px;
  text-align: center;
  padding-right: 50px;
  line-height: 52px;
  font-size: 20px;
  font-weight: bold;
  left: 0;
  font-family: PFDinTextCompProRegular, "Uni Sans";
  text-transform:uppercase;
  margin-left: -215px;
  position: absolute;
  color: white;
  top: 50px; }